<section class="office_entry_sec">
    <div class="office_entry_inner">  
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-12">
                    <div class="office_entry_form">
                        <app-spinner [loading]="isLoading"></app-spinner>
                        <form (ngSubmit)="editOfficeEntryOnSubmit(officeEntryFrm)" #officeEntryFrm="ngForm">			
                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <div class="office_entry_form_heading">
                                        <h4>Update Office Entry</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="office_entry_inner_form"> 
                                <div class="row">
                                    <div class="col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <label for="">Office Type</label>
                                            <select class="form-control" id="office_type_id"   name="office_type_id" #office_type_id="ngModel" [(ngModel)]="OfficeEntryData.office_type_id">
                                                <option value="">Select Office Type</option>
                                                <option [value]="office_type.id" *ngFor="let office_type of office_type_list; index as i" >{{ office_type.office_type }} ( {{office_type.office_type_bn}} )</option>
                                            </select>
                                        </div>
                                    </div>

                                   

                                    <div class="col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <label for="">Office Name</label>
                                            <input type="text" class="form-control" id="office_name" placeholder="Office Name"  required  name="office_name" #office_name="ngModel" [(ngModel)]="OfficeEntryData.office_name"/>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <label for="">Office Name in Bangla</label>
                                            <input type="text" class="form-control" id="office_name_bn" placeholder="Office Name in Bangla"  required  name="office_name_bn" #office_name_bn="ngModel" [(ngModel)]="OfficeEntryData.office_name_bn"/>
                                        </div>
                                    </div>

                                    <!-- (change)="districtByDivision($event)" -->
                                    <div class="col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <label for="">Division</label>
                                            <select class="form-control" id="division_id"   name="division_id" #division_id="ngModel" [(ngModel)]="OfficeEntryData.division_id" (change)="OfficeEntryData.district_id='';OfficeEntryData.upazila_id='';" >
                                                <option value="">Select Division</option>
                                                <option [value]="division.id" *ngFor="let division of division_list; index as i"  >{{ division.name }} ( {{division.name_bn}} )</option>
                                            </select>
                                        </div>
                                    </div>

                                    <!-- (change)="upazilaByDistrict($event)" -->
                                    <div class="col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <label for="">District</label>
                                            <select class="form-control" id="district_id"   name="district_id" #district_id="ngModel" [(ngModel)]="OfficeEntryData.district_id" (change)="OfficeEntryData.upazila_id=''">
                                                <option value="">Select District</option>
                                                <option [value]="district.id" *ngFor="let district of district_list; index as i" [ngClass]="{'d-none' : (OfficeEntryData.division_id != district.division_id)}">{{ district.name }} ( {{ district.name_bn }} )</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <label for="">Upazila</label>
                                            <select class="form-control" id="upazila_id"   name="upazila_id" #upazila_id="ngModel" [(ngModel)]="OfficeEntryData.upazila_id">
                                                <option value="">Select Upazila</option>
                                                <option [value]="upazila.id" *ngFor="let upazila of upazila_list; index as i" [ngClass]="{'d-none' : (OfficeEntryData.district_id != upazila.district_id)}">{{ upazila.name }} ( {{ upazila.name_bn }} )</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <label for="">Office Category</label>
                                            <select class="form-control" id="office_category_id"   name="office_category_id" #office_category_id="ngModel" [(ngModel)]="OfficeEntryData.office_category_id">
                                                <option value="">Select Office Category</option>
                                                <option [value]="office_category.id" *ngFor="let office_category of office_category_list; index as i" >{{ office_category.office_category }} ( {{ office_category.office_category_bn }} )</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <label for="">Office Code</label>
                                            <input type="text" class="form-control" id="office_code" placeholder="Office Code"  required  name="office_code" #office_code="ngModel" [(ngModel)]="OfficeEntryData.office_code"/>
                                        </div>
                                    </div>                                    

                                    <div class="col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <label for="status">Status</label>
                                            <select type="text" class="form-control" id="status" placeholder="Status"  required  name="status" #status="ngModel" [(ngModel)]="OfficeEntryData.status" >
                                                <option [value]="0">{{ 0 | statusLabel }}</option>
                                                <option [value]="1" >{{ 1 | statusLabel }}</option>
                                            </select>
                                        </div>
                                    </div>
                                     
                                    <div class="row mt-3">
                                        <div class="col-sm-6 col-md-6 col-lg-6 submit_sec">
                                            <a class="btn submit_button" [routerLink]="['/office-management/office-entry/list']">Back</a>
                                        </div>
                                        <div class="col-sm-6  col-md-6 col-lg-6 submit_sec text-right">
                                            <button type="submit" class="btn submit_button">Update</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>