<div class="row">
    <div class="col-md-12 section-inner p-5">
        <app-spinner [loading]="isLoading"></app-spinner>
        <div class="office_entry_form_heading clearfix">
            <h4 class="float-left">Office Entry</h4>
            <a [routerLink]="['/office-management/office-entry/create']" class="btn btn-light text-success text-capitalize float-right">Create New</a>
        </div>
        <div class="section-body d-flex">
            <table class="table table-bordered  table-hover">
                <thead class="thead-gray">
                    <tr class="text-capitalize text-center ">
                        <th scope="col">sl</th>
                        <th scope="col">Office</th>
                        <th scope="col">Office in Bangla</th>
                        <th scope="col">Office code</th>
                        <th scope="col">Office Type</th>
                        <th scope="col">Status</th>
                        <th class="action-btn" scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-capitalize" *ngFor="let item of items; index as i">
                        <th scope="row" class="text-center">{{i+1}}</th>
                        <td>{{item.office_name}}</td>
                        <td>{{item.office_name_bn}}</td>
                        <td>{{item.office_code}}</td>
                        <td>{{item.office_type.office_type}}<br>{{item.office_type.office_type_bn}}</td>
                        <td class="text-center">{{item.status | statusLabel }}</td>
                        <td class="action-btn  text-center">
                            <a class="btn btn-success text-capitalize"
                                [routerLink]="['/office-management/office-entry/view', item.id]">View</a> &nbsp;
                            <a class="btn btn-success text-capitalize"
                                [routerLink]="['/office-management/office-entry/edit', item.id]">Edit</a> &nbsp;
                            <!-- <a class="btn btn-danger text-capitalize"
                                (click)="deleteOfficeEntry(item.id)">Delete</a> -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>