<div class="row">
    <div class="col-md-12 section-inner p-5">
        <div class="complaint_type_info_form_heading clearfix">
            <h4 class="float-left">Complaint Type Information</h4>
            <a [routerLink]="['create']" class="btn btn-light text-success text-capitalize float-right">Create New</a>
        </div>
        <div class="section-body d-flex">
            <table class="table table-bordered  table-hover">
                <thead class="thead-gray">
                    <tr class="text-capitalize text-center ">
                        <th scope="col">sl</th>
                        <th scope="col">Complaint Type</th>
                        <th scope="col">Complaint Type in Bangla</th>
                        <th scope="col">Status</th>
                        <th class="action-btn" scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-capitalize" *ngFor="let item of items; index as i">
                        <td scope="row" class="text-center">{{(pagination.from+i)}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.name_bn}}</td>
                        <td class="text-center">{{item.status | statusLabel }}</td>
                        <td class="action-btn text-center">
                            <a class="btn btn-success text-capitalize"
                                [routerLink]="['edit', item.id]">Edit</a> &nbsp;
                            <!-- <a class="btn btn-danger text-capitalize"
                                (click)="deleteComplaintTypeInformation(item.id)">Delete</a> -->
                        </td>
                    </tr>
                </tbody>
                <tfoot *ngIf="pagination.last_page > 1">
                    <tr>
                        <td scope="col" colspan="10">
                            <app-pagination  [pagination]="pagination" (selectPage)="getPageDataFn($event)"></app-pagination>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>