<div class="row">
    <div class="col-md-12 section-inner p-5">
        <div class="table_list_sec">
            <div class="table_list_sec_heading clearfix">
                <h4 class="float-left">User Log Information</h4>
            </div>
            <div class="section-body ">

                <div class="district_info_inner_form">
                    <form (ngSubmit)="searchUserLogOnSubmit(userLogFrm)" #userLogFrm="ngForm">
                        <div class="row">
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label for="">Employee ID</label>
                                    <input type="text" class="form-control" id="employee_id" placeholder="Employee ID"
                                        name="employee_id" #employee_id="ngModel"
                                        [(ngModel)]="userLogData.employee_id" />
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label for="">User Name</label>
                                    <input type="text" class="form-control" id="user_name" placeholder="User Name"
                                        name="user_name" #user_name="ngModel" [(ngModel)]="userLogData.user_name" />
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label for="">Division</label>
                                    <select class="form-control" id="division_id" name="division_id" #name="ngModel"
                                        [(ngModel)]="userLogData.division_id">
                                        <option value="">Select Division</option>
                                        <option [value]="division.id"
                                            *ngFor="let division of division_list; index as i">{{ division.name }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label for="">District</label>
                                    <select class="form-control" id="district_id" name="district_id" #name="ngModel"
                                        [(ngModel)]="userLogData.district_id">
                                        <option value="">Select District</option>
                                        <option [value]="district.id"
                                            *ngFor="let district of district_list; index as i">{{ district.name }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-md-3">
                                <div class="submit_sec">
                                    <label for="">&nbsp;</label>
                                    <button type="submit" class="btn submit_button">Search</button>
                                    <span class="text-danger mx-2" *ngIf="isLoading">Searching...</span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <table *ngIf="items.length>0" class="table table-bordered  table-hover">
                    <thead class="thead-gray">
                        <!-- <tr>
                            <th colspan="10">
                                Showing: 
                                <span *ngIf="userLogData.employee_id">Employee ID: {{userLogData.employee_id}}&nbsp;</span>
                                <span *ngIf="userLogData.user_name">User Name: {{userLogData.user_name}}&nbsp;</span>
                                <span *ngIf="userLogData.division_id">Division: {{userLogData.division_id}}&nbsp;</span>
                                <span *ngIf="userLogData.district_id">District: {{userLogData.district_id}}&nbsp;</span>
                            </th>
                        </tr> -->
                        <tr class="text-capitalize text-center ">
                            <th scope="col">sl</th>
                            <th scope="col">Date & Time</th>
                            <th scope="col">Employee Name</th>
                            <th scope="col">User Name</th>
                            <th scope="col">Email</th>                            
                            <th scope="col">Module Name</th>
                            <th scope="col">Sub-Module Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">IP</th>
                            <th scope="col">URL</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-capitalize" *ngFor="let item of items; index as i">
                            <td scope="row" class="text-center">{{(pagination.from+i)}}</td>
                            <td>{{item.updated_at | date:'medium' }}</td>
                            <td>{{item.causer.employee.name}}</td>
                            <td>{{item.causer.username}}</td>
                            <td>{{item.causer.email}}</td>
                            <td>{{getModuleName(item.subject_type)}}</td>
                            <td>{{getSubModuleName(item.subject_type)}}</td>
                            <td>{{item.description}}</td>
                            <td>{{item.ip}}</td>
                            <td>{{item.url}}</td>
                        </tr>
                    </tbody>
                    <tfoot *ngIf="pagination.last_page > 1">
                        <tr>
                            <td scope="col" colspan="10">
                                <app-pagination [pagination]="pagination" (selectPage)="getPageDataFn($event)">
                                </app-pagination>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>