<section class="personal_information_sec">
    <div class="personal_information_inner">  
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-12">
                    <app-spinner [loading]="isLoading"></app-spinner>
                    <div class="personal_info_form">
                        <form *ngIf="activeCreateTransferEmployee" (ngSubmit)="createTransferOnSubmit(transferFrm)" #transferFrm="ngForm">									
                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <div class="personal_info_form_heading">
                                        <h3>Transfer</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="personal_info_inner_form"> 
                                <div class="row">
                                    <div class="col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <label for="memo_no">Memo No</label>
                                            <input type="text" class="form-control" id="memo_no" placeholder="Memo No"  required  name="memo_no" #memo_no="ngModel" [(ngModel)]="TransferData.memo_no"/>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <label for="memo_date">Memo Date</label>
                                            <input type="text" class="form-control" id="memo_date" placeholder="Memo Date"  required  name="memo_date" #memo_date="ngModel" [(ngModel)]="TransferData.memo_date"/>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <label for="transfer_date">Transfer Date</label>
                                            <input type="text" class="form-control" id="transfer_date" placeholder="Transfer Date"  required  name="transfer_date" #transfer_date="ngModel" [(ngModel)]="TransferData.transfer_date"/>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4"  *ngIf="employee_list">
                                        <div class="form-group">
                                            <label for="current_position">Person To Notify</label>
                                            <select class="form-control" id="current_position" required  name="current_position" #person_to_notify="ngModel" [(ngModel)]="TransferData.current_position">
                                                <option value="">Select Person To Notify</option>
                                                <option [value]="item.key" *ngFor="let item of employee_list | keyvalue" >{{item.value}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <label for="">Upload Files</label>
                                            <input type="file" class="form-control" id="document_path"  name="document_path" #document_path="ngModel" [(ngModel)]="TransferData.document_path"/>
                                        </div>
                                    </div>
                                </div>
                              
                                <div class="row mt-3">
                                    <div class="col col-md-4">
                                        <div class="back_sec">
                                            <a [routerLink]="['/promotion-transfer/transfer/list']"  class="btn submit_button">Back</a>
                                        </div>
                                    </div>
                                    <div class="col col-md-4">
                                        <div class="save_sec">
                                            <!-- <button type="submit" class="btn submit_button">save</button> -->
                                        </div>
                                    </div>
                                    <div class="col col-md-4">
                                        <div class="submit_sec">
                                            <button type="submit" class="btn submit_button">NEXT</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <form (ngSubmit)="addTransferEmployeeOnSubmit(transferEmployeeFrm)" #transferEmployeeFrm="ngForm" *ngIf="activeAddTransferEmployee">									
                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <div class="personal_info_form_heading">
                                        <h3>Add Employee for Transfer</h3>
                                        <h6>Memo NO: {{TransferData.memo_no}}</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="personal_info_inner_form"> 
                                <div class="row">                                                                    

                                    <div class="col-md-4 col-lg-4"  *ngIf="employee_list">
                                        <div class="form-group">
                                            <label for="employee_id">Employee</label>
                                            <select class="form-control" id="employee_id"   name="employee_id" #employee_id="ngModel" [(ngModel)]="TransferDetailsData.employee_id">
                                                <option value="">Select Employee</option>
                                                <option [value]="item.key" *ngFor="let item of employee_list | keyvalue" >{{item.value}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    

                                    <div class="col-md-4 col-lg-4"  *ngIf="office_list">
                                        <div class="form-group">
                                            <label for="previous_office_id">Current office</label>
                                            <select class="form-control" id="previous_office_id"   name="previous_office_id" #previous_office_id="ngModel" [(ngModel)]="TransferDetailsData.previous_office_id">
                                                <option value="">Select Current Office</option>
                                                <option [value]="item.key" *ngFor="let item of office_list | keyvalue" >{{item.value}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-lg-4"  *ngIf="office_list">
                                        <div class="form-group">
                                            <label for="proposed_office_id">Office After Transfer</label>
                                            <select class="form-control" id="proposed_office_id"   name="proposed_office_id" #proposed_office_id="ngModel" [(ngModel)]="TransferDetailsData.proposed_office_id">
                                                <option value="">Select Office After Transfer</option>
                                                <option [value]="item.key" *ngFor="let item of office_list | keyvalue" >{{item.value}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    									
                                </div>
                                <div class="row mt-3 mb-5">
                                    <div class="col-md-12">
                                        <div class="add_more_sec">
                                            <div class="add_more_btn" (click)="addTransferEmployee()">+ ADD Employee</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3 table_list_sec" *ngIf="!isEmptyObject(TransferDetailsDataList)">
                                    <div class="col col-md-12">
                                        <table class="table table-bordered  table-hover">
                                            <thead class="thead-gray">
                                              <tr class="text-capitalize text-center ">
                                                <th scope="col">sl</th>
                                                <th scope="col">Employee ID</th>
                                                <th scope="col">Employee Name</th>
                                                <th scope="col">Current Office</th>
                                                <th scope="col">Office After Transfer</th>
                                                <th scope="col">Action</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr class="text-capitalize text-center" *ngFor="let item of TransferDetailsDataList  | keyvalue; index as i">
                                                <td scope="row" class="text-center">{{(i+1)}}</td>
                                                <td>{{item.value.employee_id}}</td>
                                                <td>{{employee_list[item.value.employee_id]}}</td>
                                                <td>{{office_list[item.value.previous_office_id]}}</td>
                                                <td>{{office_list[item.value.proposed_office_id]}}</td>
                                                <td class="action_btn_list text-center">
                                                    <a class="link_action " (click)="editTransferEmployee(item.value)">Edit</a>
                                                    <a class="link_action delete" (click)="deleteTransferEmployee(item.value.employee_id)">Delete</a>
                                                </td>
                                              </tr>
                                            </tbody>                                           
                                          </table>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col col-md-4">
                                        <div class="back_sec">
                                            <!-- <button type="submit" class="btn submit_button">Back</button> -->
                                        </div>
                                    </div>
                                    <div class="col col-md-4">
                                        <div class="save_sec">
                                            <button type="submit" class="btn submit_button">save</button>
                                        </div>
                                    </div>
                                    <div class="col col-md-4">
                                        <div class="submit_sec">
                                            <!-- <button type="submit" class="btn submit_button">NEXT</button> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>