#loading-container {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.589);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: 0;
    color: #fff;
    z-index: 9999 !important;
}

#loading-container .loader {
    position: absolute;
    margin: auto 0;
    top: 50%;
    bottom: 50%;
    right: 50%;
    left: 50%;
}