<section class="personal_information_sec">
    <div class="personal_information_inner">  
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-12">
                    <app-spinner [loading]="isLoading"></app-spinner>
                    <div class="personal_info_form">
                        <form *ngIf="activeCreatePromotionEmployee" (ngSubmit)="updatePromotionOnSubmit(promotionFrm)" #promotionFrm="ngForm">									
                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <div class="personal_info_form_heading">
                                        <h3>Edit Promotion Proposal</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="personal_info_inner_form"> 
                                <div class="row">
                                    <div class="col-md-3 col-lg-3">
                                        <div class="form-group">
                                            <label for="memo_no">Memo No</label>
                                            <input type="text" class="form-control" id="memo_no" placeholder="Memo No"  required  name="memo_no" #memo_no="ngModel" [(ngModel)]="PromotionData.memo_no"/>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-lg-3">
                                        <div class="form-group">
                                            <label for="memo_date">Memo Date</label>
                                            <input type="text" class="form-control" id="memo_date" placeholder="Memo Date"  required  name="memo_date" #memo_date="ngModel" [(ngModel)]="PromotionData.memo_date"/>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-lg-3">
                                        <div class="form-group">
                                            <label for="memo_no">Issue No</label>
                                            <input type="text" class="form-control" id="issue_no" placeholder="Issue No"  required  name="issue_no" #issue_no="ngModel" [(ngModel)]="PromotionData.issue_no"/>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-lg-3" *ngIf="posting_type_list">
                                        <div class="form-group">
                                            <label for="posting_type_id">Posting Type</label>
                                            <select class="form-control" id="posting_type_id" required  name="posting_type_id" #posting_type_id="ngModel" [(ngModel)]="PromotionData.posting_type_id">
                                                <option value="">Select Posting Type</option>
                                                <option [value]="posting_type.id" *ngFor="let posting_type of posting_type_list; index as i" >{{ posting_type.name }}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-lg-3" *ngIf="pay_grade_list">
                                        <div class="form-group">
                                            <label for="pay_grade_id">Pay Grade</label>
                                            <select class="form-control" id="pay_grade_id" required  name="pay_grade_id" #pay_grade_id="ngModel" [(ngModel)]="PromotionData.pay_grade_id">
                                                <option value="">Select Pay Grade</option>
                                                <option [value]="pay_grade.id" *ngFor="let pay_grade of pay_grade_list; index as i" >{{ pay_grade.name }}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-lg-3">
                                        <div class="form-group">
                                            <label for="pay_scale">Pay Scale</label>
                                            <input type="text" class="form-control" id="pay_scale" placeholder="Pay scale"  required  name="pay_scale" #pay_scale="ngModel" [(ngModel)]="PromotionData.pay_scale"/>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-lg-3">
                                        <div class="form-group">
                                            <label for="basic_pay">Basic Pay</label>
                                            <input type="text" class="form-control" id="basic_pay" placeholder="Basic Pay"  required  name="basic_pay" #basic_pay="ngModel" [(ngModel)]="PromotionData.basic_pay"/>
                                        </div>
                                    </div>

                                    <div class="col-md-3 col-lg-3">
                                        <div class="form-group">
                                            <label for="promotion_date">Promotion Date</label>
                                            <input type="text" class="form-control" id="promotion_date" placeholder="Promotion Date"  required  name="promotion_date" #promotion_date="ngModel" [(ngModel)]="PromotionData.promotion_date"/>
                                        </div>
                                    </div>
                                    <!-- <div class="col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label for="basic_pay">Notes For Employee</label>
                                            <textarea type="text" class="form-control" id="note_promotion" placeholder="Notes For Employee"  name="note_promotion" #note_promotion="ngModel" cols="6" rows="5" [(ngModel)]="PromotionDetailsData.note_promotion"></textarea>
                                        </div>
                                    </div>   -->

                                    <div class="col-md-3 col-lg-3"  *ngIf="employee_list">
                                        <div class="form-group">
                                            <label for="current_position">Person To Notify</label>
                                            <select class="form-control" id="current_position" required  name="current_position" #person_to_notify="ngModel" [(ngModel)]="PromotionData.current_position">
                                                <option value="">Select Person To Notify</option>
                                                <option [value]="item.key" *ngFor="let item of employee_list | keyvalue" >{{item.value}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-lg-3">
                                        <div class="form-group">
                                            <label for="">Upload Files</label>
                                            <input type="file" class="form-control" id="document_path"  name="document_path" #document_path="ngModel" [(ngModel)]="PromotionData.document_path"/>
                                        </div>
                                    </div>
                                </div>
                              
                                <div class="row mt-3">
                                    <div class="col col-md-4">
                                        <div class="back_sec">
                                            <a class="btn submit_button" [routerLink]="['/promotion-transfer/promotion/list']">Back</a>
                                        </div>
                                    </div>
                                    <div class="col col-md-4">
                                        <div class="save_sec">
                                            <!-- <button type="submit" class="btn submit_button">save</button> -->
                                        </div>
                                    </div>
                                    <div class="col col-md-4">
                                        <div class="submit_sec">
                                            <button type="submit" class="btn submit_button">Update</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <form (ngSubmit)="updatePromotionEmployeeOnSubmit(promotionEmployeeFrm)" #promotionEmployeeFrm="ngForm" *ngIf="activeAddPromotionEmployee">									
                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <div class="personal_info_form_heading">
                                        <h3>Edit Employee for Promotion</h3>
                                        <h6>Memo NO: {{PromotionData.memo_no}}</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="personal_info_inner_form"> 
                                <div class="row">                                                                    

                                    <div class="col-md-3 col-lg-3"  *ngIf="employee_list">
                                        <div class="form-group">
                                            <label for="employee_id">Employee</label>
                                            <select class="form-control" id="employee_id"   name="employee_id" #employee_id="ngModel" [(ngModel)]="PromotionDetailsData.employee_id">
                                                <option value="">Select Employee</option>
                                                <option [value]="item.key" *ngFor="let item of employee_list | keyvalue" >{{item.value}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    

                                    <div class="col-md-3 col-lg-3"  *ngIf="office_list">
                                        <div class="form-group">
                                            <label for="previous_office_id">Current office</label>
                                            <select class="form-control" id="previous_office_id"   name="previous_office_id" #previous_office_id="ngModel" [(ngModel)]="PromotionDetailsData.previous_office_id">
                                                <option value="">Select Current Office</option>
                                                <option [value]="item.key" *ngFor="let item of office_list | keyvalue" >{{item.value}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-3 col-lg-3"  *ngIf="designatition_list">
                                        <div class="form-group">
                                            <label for="previous_office_id">Current Designatition</label>
                                            <select class="form-control" id="previous_designatition_id"   name="previous_designatition_id" #previous_designatition_id="ngModel" [(ngModel)]="PromotionDetailsData.previous_designatition_id">
                                                <option value="">Select Current Designatition</option>
                                                <option [value]="item.key" *ngFor="let item of designatition_list | keyvalue" >{{item.value}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-3 col-lg-3"  *ngIf="office_list">
                                        <div class="form-group">
                                            <label for="proposed_office_id">Office After Promotion</label>
                                            <select class="form-control" id="proposed_office_id"   name="proposed_office_id" #proposed_office_id="ngModel" [(ngModel)]="PromotionDetailsData.proposed_office_id">
                                                <option value="">Select Office After Promotion</option>
                                                <option [value]="item.key" *ngFor="let item of office_list | keyvalue" >{{item.value}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-3 col-lg-3"  *ngIf="designatition_list">
                                        <div class="form-group">
                                            <label for="previous_office_id">Designatition After Promotion</label>
                                            <select class="form-control" id="proposed_designation_id"   name="proposed_designation_id" #proposed_designation_id="ngModel" [(ngModel)]="PromotionDetailsData.proposed_designation_id">
                                                <option value="">Select Designatition After Promotion</option>
                                                <option [value]="item.key" *ngFor="let item of designatition_list | keyvalue" >{{item.value}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    									
                                </div>
                                <div class="row mt-3 mb-5">
                                    <div class="col-md-12">
                                        <div class="add_more_sec">
                                            <div class="add_more_btn" (click)="addPromotionEmployee()">+ ADD Employee</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3 table_list_sec" *ngIf="!isEmptyObject(PromotionDetailsDataList)">
                                    <div class="col col-md-12">
                                        <table class="table table-bordered  table-hover">
                                            <thead class="thead-gray">
                                              <tr class="text-capitalize text-center ">
                                                <th scope="col">sl</th>
                                                <th scope="col">Employee ID</th>
                                                <th scope="col">Employee Name</th>
                                                <th scope="col">Current Office</th>
                                                <th scope="col">Current Designatition</th>
                                                <th scope="col">Designatition After Promotion</th>
                                                <th scope="col">Office After Promotion</th>
                                                <th scope="col">Action</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr class="text-capitalize text-center" *ngFor="let item of PromotionDetailsDataList  | keyvalue; index as i">
                                                <td scope="row" class="text-center">{{(i+1)}}</td>
                                                <td>{{item.value.employee_id}}</td>
                                                <td>{{employee_list[item.value.employee_id]}}</td>
                                                <td>{{designatition_list[item.value.previous_designatition_id]}}</td>
                                                <td>{{office_list[item.value.previous_office_id]}}</td>
                                                <td>{{designatition_list[item.value.proposed_designation_id]}}</td>
                                                <td>{{office_list[item.value.proposed_office_id]}}</td>
                                                <td class="action_btn_list text-center">
                                                    <a class="link_action " (click)="editPromotionEmployee(item.value)">Edit</a>
                                                    <a class="link_action delete" (click)="deletePromotionEmployee(item.value.employee_id)">Delete</a>
                                                </td>
                                              </tr>
                                            </tbody>                                           
                                          </table>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col col-md-4">
                                        <div class="back_sec">
                                            <!-- <button type="submit" class="btn submit_button">Back</button> -->
                                        </div>
                                    </div>
                                    <div class="col col-md-4">
                                        <div class="save_sec">
                                            <button type="submit" class="btn submit_button">save</button>
                                        </div>
                                    </div>
                                    <div class="col col-md-4">
                                        <div class="submit_sec">
                                            <!-- <button type="submit" class="btn submit_button">NEXT</button> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>