<section class="personal_information_sec">
    <div class="personal_information_inner">  
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-12">
                    <div class="personal_info_form">
                        <form (ngSubmit)="editOfficeCAtegoryOnSubmit(officeCategoryFrm)" #officeCategoryFrm="ngForm">			
                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <div class="personal_info_form_heading">
                                        <h4>Create New Office CAtegory</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="personal_info_inner_form"> 
                                <div class="row">
                                    <div class="col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label for="">Office Category</label>
                                            <input type="text" class="form-control" id="office_category" placeholder="Office Category" required  name="office_category" #office_category="ngModel" [(ngModel)]="OfficeCategoryData.office_category"/>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label for="">Office Category (Bangla)</label>
                                            <input type="text" class="form-control" id="office_category_bn" placeholder="BN Name of Office Category"  required  name="office_category_bn" #office_category_bn="ngModel" [(ngModel)]="OfficeCategoryData.office_category_bn"/>
                                        </div>
                                    </div>
                                     
                                    <div class="col col-md-12">
                                        <div class="submit_sec">
                                            <button type="submit" class="btn submit_button">Create</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>