<div class="row"> 
    <div class="col-md-12 section-inner p-5">
      <div class="employee_entry_form_heading clearfix">
          <h4 class="float-left">Document Type</h4>
          <a [routerLink]="['/document-management/document-table/create']" class="btn btn-light text-success text-capitalize float-right">Create New</a>
      </div>
      <div class="section-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Employee ID</th>
              <th scope="col">Document Type ID</th>
              <th scope="col">Document Title</th>
              <th scope="col">Document Title BN</th>
              <th scope="col">Status</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-capitalize" *ngFor="let item of items; index as i">
              <th scope="row" class="text-center">{{i+1}}</th>
              <td>{{item?.employee?.name}}</td>
              <td>{{item?.type?.document_type}}</td>
              <td>{{item.document_title}}</td>
              <td>{{item.document_title_bn}}</td>
              <td>{{item?.status | statusLabel }}</td> 
              <td>
                <a class="link_action" [routerLink]="['/document-management/document-table/edit', item.id]">Edit</a> &nbsp; 
                <a class="link_action" [routerLink]="['/document-management/document-table/list', item.id]">View</a> &nbsp;
                <!-- <a class="link_action delete" (click)="deletedocumentTable(item.id)">Delete</a>&nbsp; -->
              </td>  
          </tr>
          </tbody>
        </table>
     </div>
    </div>
  </div>