<div class="row">
    <div class="col-md-12 section-inner p-5">
        <div class="table_list_sec">
            <div class="table_list_sec_heading clearfix">
                <h4 class="float-left">Quota Information</h4>
                <a [routerLink]="['create']" class="btn btn-light text-success text-capitalize float-right">Create New</a>
            </div>
            <div class="section-body d-flex">
                <table class="table table-bordered  table-hover">
                    <thead class="thead-gray">
                        <tr class="text-capitalize text-center ">
                            <th scope="col">sl</th>
                            <th scope="col">Name</th>
                            <th scope="col">Name in Bangla</th>
                            <th scope="col">Status</th>
                            <th class="action-btn" scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-capitalize" *ngFor="let item of items; index as i">
                            <th scope="row" class="text-center">{{i+1}}</th>
                            <td>{{item.name}}</td>
                            <td>{{item.name_bn}}</td>
                            <td class="text-center">{{item.status | statusLabel }}</td>
                            <td class="action_btn_list text-center">
                                <a class="link_action"
                                    [routerLink]="['edit', item.id]">Edit</a> &nbsp;
                                <!-- <a class="link_action delete"
                                    (click)="deleteQuotaInformation(item.id)">Delete</a> -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>