<div class="row"> 
    <div class="col-md-12 section-inner">
      <div class="personal_info_form_heading clearfix">
        <h4 class="float-left">Document Table </h4>        
    </div>
      <div class="section-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Employee ID</th>
              <th scope="col">Document Type ID</th>
              <th scope="col">Document Title</th>
              <th scope="col">Document Title BN</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-capitalize">
              <th scope="row" class="text-center">{{singleItem.id}}</th>
              <td>{{singleItem?.employee?.name}}</td>
              <td>{{singleItem?.type?.document_type}}</td>
              <td>{{singleItem.document_title}}</td>
              <td>{{singleItem.document_title_bn}}</td>
              <td>{{singleItem?.status | statusLabel }}</td>  
          </tr>
          </tbody>
        </table>
     </div>
    </div>
  </div>