#wrapper {
    display: flex;
  }
  
  /*********** main sec  *************/
  #wrapper #content-wrapper {
    width: 100%;
    overflow-x: hidden;
  }
  #wrapper #content-wrapper #content {
    flex: 1 0 auto;
  }
  
  .sidebar .nav-item .nav-link .img-profile, .topbar .nav-item .nav-link .img-profile {
    height: 2rem;
    width: 2rem;
  }
  
  /* Language */

  .language_select{
    text-align: center;
    margin-bottom: 0;
    margin-left: 0;
    height: 4.375rem;
    display: flex;
    align-items: center;
  }
  .language_select ul{
    margin:0;
    padding: 0;
    background-color: #ebebeb;
    display: inline-block;
    border-radius:10px;
  }
  .language_select ul li{
    display: inline-block;
    padding: 3px;
  }
  .language_select ul li button{
    padding: 3px 15px;
    color:#009245;
    display: block;
    border: 0;
    border-radius: 10px;
    font-size: 12px;
  }
  .language_select ul li button:focus{
    outline: unset;
  }
  .language_select ul li button.active{
    color:#fff;
    background: #009245;
  }
/*********** main sec top sec  *************/
.header_top_sec{
    background-color: #009245;
  }
  /*** message notification  *****/
  .topbar .dropdown-list {
    width: 20rem!important;
  }
  .topbar .dropdown-list .dropdown-header {
    background-color: #4e73df;
    border: 1px solid #4e73df;
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: #fff;
  }
  .topbar .dropdown-list .dropdown-item {
    white-space: normal;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-left: 1px solid #e3e6f0;
    border-right: 1px solid #e3e6f0;
    border-bottom: 1px solid #e3e6f0;
    line-height: 1.3rem;
  }
  .topbar .dropdown-list .dropdown-item .dropdown-list-image img {
    height: 2.5rem;
    width: 2.5rem;
  }
  .topbar .dropdown-list {
    padding: 0;
    border: none;
    overflow: hidden;
  }
  .topbar .dropdown-list .dropdown-item .dropdown-list-image {
    position: relative;
    height: 2.5rem;
    width: 2.5rem;
  }
  .topbar .dropdown-list .dropdown-item .dropdown-list-image .status-indicator {
    background-color: #eaecf4;
    height: .75rem;
    width: .75rem;
    border-radius: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    border: .125rem solid #fff;
  }
  .topbar .dropdown-list .dropdown-item .text-truncate {
    max-width: 13.375rem;
  }
  .text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .dropdown-item:focus, .dropdown-item:hover {
    color: #2e2f37;
    text-decoration: none;
    background-color: #f8f9fc;
  }
  .topbar .dropdown {
    position: relative;
  }
  .topbar.navbar-light .navbar-nav .nav-item .nav-link {
    color: #ffffff;
  }
  .topbar .nav-item .nav-link {
    height: 4.375rem;
    display: flex;
    align-items: center;
    padding: 0 .75rem;
  }
  .sidebar .nav-item .nav-link .badge-counter, .topbar .nav-item .nav-link .badge-counter {
    position: absolute;
    transform: scale(.7);
    transform-origin: top right;
    right: 17px;
    margin-top: -.25rem;
  }
  .dropdown-toggle {
    white-space: nowrap;
  }
  
  /*********** fSearch  *************/
  .topbar .navbar-search {
    width: 25rem;
  }
  .search_button{
    background-color: #ffffff;
      color: #009245;
      border: 0;
  }
  .dropdown-item{
    cursor: pointer;
  }