/*********** Breadcum  *************/
.breadcum-sec{
  background-color: #e8f5ef;
  padding: 7px 30px;
}
.breadcum-sec h1{
  line-height: normal;
    display: flex;
    align-items: center;
}
.breadcum-arrow-icon{
  margin:0 6px;  
  font-size: 20px;
  color: #282828;
}
.breadcum-sec span{
  font-size: 18px;
}
.breadcum-home-title {
  color: #282828;
  font-size: 18px;
}
.breadcum-home-title:hover {
  text-decoration: none;
}
.breadcum-home{
  color: #009245;
  margin-right: 15px;
  font-size: 30px;
}