<div class="breadcum-sec">
    <h1 class="h3 mb-0">
        <a class="breadcum-home" [routerLink]="['/']" routerLinkActive="active" ><i class="fas fa-home"></i></a>
        <a class="breadcum-home-title" [routerLink]="['/']" routerLinkActive="active">Dashboard</a>
        <!-- <span class="breadcum-arrow-icon"><i class="fas fa-angle-double-right"></i></span>
        <span>{{pageInfo}}</span> -->
       
        
    </h1>  
</div>