<section class="personal_information_sec">
    <div class="personal_information_inner">  
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-12">
                    <div class="personal_info_form">
                        <form (ngSubmit)="editDocumentTableOnSubmit(documentTableFrm)" #documentTableFrm="ngForm">			
                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <div class="personal_info_form_heading">
                                        <h4>Create New Document</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="personal_info_inner_form"> 
                                <div class="row">
                                    <div class="col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label for="employee_id">Employee Type ID</label>
                                            <select class="form-control" id="employee_id" required  name="employee_id" #employee_id="ngModel" [(ngModel)]="documentTableData.employee_id">
                                                <option *ngFor="let employee of employeeLists" value="{{employee.id}}">{{employee.name}}</option>
                                            </select> 
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label for="document_type_id">Document Type ID</label>
                                            <select class="form-control" id="document_type_id" required  name="document_type_id" #document_type_id="ngModel" [(ngModel)]="documentTableData.document_type_id">
                                                <option *ngFor="let documenId of documentTypeLists" value="{{documenId.id}}">{{documenId.document_type}}</option>
                                            </select> 
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label for="document_title">Document Title</label>
                                            <input type="text" class="form-control" id="document_title" placeholder="Document Title"  required  name="document_title" #document_title="ngModel" [(ngModel)]="documentTableData.document_title"/>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label for="document_title_bn">Document Title Bangla</label>
                                            <input type="text" class="form-control" id="document_title_bn" placeholder="Document Title BN"  required  name="document_title_bn" #document_title_bn="ngModel" [(ngModel)]="documentTableData.document_title_bn"/>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <label for="document_path">Document Image</label>
                                            <input type="file" class="form-control" id="document_path" placeholder="Document Image"  name="document_path" #document_path="ngModel" [(ngModel)]="documentTableData.document_path"/>
                                        </div>
                                    </div>                                     
                                     
                                    <div class="col col-md-12">
                                        <div class="submit_sec">
                                            <button type="submit" class="btn submit_button">Create</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>