/******* Default ********/
.form-control:focus {
    outline: 0;
    box-shadow: none;
    border-color: #00964C;
}
.btn:focus, .btn-dark:focus {
    background-color:none;
    border-color: none;
    box-shadow: none;
}
/******* Default ********/
.h4, h4{
    margin: 0;
}
.gender_information_sec{
    background-color: #e8f5ef;
    background-image: url(/assets/img/bgimage.png);
    background-repeat: repeat;
    min-height: calc( 100vh - 216px );
    position: relative;
}
.gender_information_inner{
  position: absolute;
  top:50%;
  left: 50%;
  width:100%;
  height: auto;
  transform: translate(-50%, -50%);

}
.gender_info_form{
  background-color: #ffffff;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  box-shadow: 0 1px 5px 0 rgba(50, 50, 50, 0.12);
}
.gender_info_form_heading{
  background-color: #00964C;
  color: white;
  padding: 10px 30px;
  font-size: 25px;
}
.gender_info_inner_form label{
    font-size: 22px;
    color: #525252;
}
.gender_info_inner_form{
    padding: 10px 30px;
}
.gender_info_inner_form .form-control{
    height: 55px;
    border-radius: 0;
}
.save_sec{
    text-align: center;
}
.submit_sec{
    text-align: right;
    margin-bottom: 30px;
}
.submit_button{
    min-width: 140px;
    font-size: 20px;
    font-weight: 600;
    background-color: #00964C;
    border:1px solid #00964C;
    color: #ffffff;
    padding: 8px 8px;
    border: none;
    border-radius: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border:1px solid #00964C;
}
.submit_button:hover{
    background-color: #ffffff;
    color: #00964C;
}
/******************** Responsive ***************************/
@media (max-width: 768px) {
.gender_info_form{
    margin:30px 0;
}
.gender_information_inner{
    position: relative;
    top: inherit;
    left: inherit;
    transform: inherit;
}
.gender_info_inner_form .form-control {
    height: 40px;
}
.submit_button {
    min-width: 75px;
    font-size: 20px;
}
}