<section class="personal_information_sec">
    <div class="personal_information_inner">  
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-12">
                    <app-spinner [loading]="isLoading"></app-spinner>					
                    <div class="personal_info_form" *ngIf="OfficeEntryData">                        
                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <div class="d-flex personal_info_form_heading">
                                        <h3 class="flex-fill">Office Entry Details</h3>
                                        <div class="flex-fill">
                                            <div class="btn-group float-right">
                                                <a class="btn btn-sm btn-outline-light " [routerLink]="['/office-management/office-entry/list']">Back</a>
                                                <a class="btn btn-sm btn-outline-light " [routerLink]="['/office-management/office-entry/edit', OfficeEntryData.id]">Edit</a>                                            
                                                <a class="btn btn-sm btn-outline-light delete" (click)="deleteOfficeEntry(OfficeEntryData.id)">Delete</a>
                                        </div>
                                        </div>
                                    </div>   


                                </div>
                            </div>
                            <div class="personal_info_inner_form"> 
                                <div class="row text-capitilize">
                                    
                                    <div class="col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <div class="label">offic type : </div>
                                            <div class="label_info">{{OfficeEntryData.office_type.office_type}}</div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <div class="label">office name : </div>
                                            <div class="label_info">{{OfficeEntryData.office_name}}</div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <div class="label">office name in bangla : </div>
                                            <div class="label_info">{{OfficeEntryData.office_name_bn}}</div>
                                        </div>
                                    </div>
                                  
                                   

                                    <div class="col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <div class="label">division : </div>
                                            <div class="label_info">{{OfficeEntryData.division.name}}</div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <div class="label">district : </div>
                                            <div class="label_info">{{OfficeEntryData.district.name}}</div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <div class="label">upazila : </div>
                                            <div class="label_info">{{OfficeEntryData.upazila.name}}</div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <div class="label">office category : </div>
                                            <div class="label_info">{{OfficeEntryData.office_category.office_category}}</div>
                                        </div>
                                    </div>
                                   
                                    <div class="col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <div class="label">office code : </div>
                                            <div class="label_info">{{OfficeEntryData.office_code}}</div>
                                        </div>
                                    </div>
                                   
                                   
                                    <div class="col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <div class="label">Status : </div>
                                            <div class="label_info">{{OfficeEntryData.status | statusLabel}}</div>
                                        </div>
                                    </div>
                                </div>
                              
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>