a:hover {
    cursor: pointer;
   }
   .section-inner {
       padding: 20px 25px;
   }
   
   .section-header {
       padding-bottom: 15px;
       display: flex;
       justify-content: flex-end;
   }
   .personal_info_form_heading{
    background-color: #00964C;
    color: white;
    padding: 10px 30px;
    font-size: 25px;
  }
   .section-body {
       display: flex;
   }
   .section-header a{
       color: #333;
   }
   .section-header a:hover{
       text-decoration: none;
   }


.personal_information_sec{
  background-color: #e8f5ef;
  background-image: url(/assets/img/bgimage.png);
  background-repeat: repeat;
  height: 100vh;
  position: relative;
}
.personal_information_inner{
  position: absolute;
  top:50%;
  left: 50%;
  width:100%;
  height: auto;
  transform: translate(-50%, -50%);

}
.personal_info_form{
  background-color: #ffffff;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  box-shadow: 0 1px 5px 0 rgba(50, 50, 50, 0.12);
}
.personal_info_form_heading{
  background-color: #00964C;
  color: white;
  padding: 10px 30px;
  font-size: 25px;
}

.personal_info_inner_form .col-md-6 {
    border: 1px solid #e8f5ef;
}
.personal_info_inner_form .label{
    font-size: 16px;
    color: #525252;
    text-transform: capitalize;
    width: 30%;
}
.personal_info_inner_form .label_info {
    font-size: 20px;
    color: #525252;
    text-transform: capitalize;
    font-weight: 700;
}
.personal_info_inner_form {
    padding: 10px 30px;
}

.table_list_sec{
    background-color: #ffffff;
    padding: 0 !important;
    margin: 0 !important;
    margin-top: 5px !important;
}

.table_list_sec_heading{
    background-color: #00964C;
    color: white;
    padding: 10px 30px;
    font-size: 25px;
    margin-bottom: 15px;
  }
  .table_list_sec .table-hover tbody tr:hover {
    color: #212529;
    background-color: #e8f5ef;
}
.table_list_sec table thead{
    background-color: #e8f5ef;
}
  .action_btn_list {
    background-color: #e8f5ef;
   padding:0;
}
.link_action{
    text-transform: capitalize;
    color:#00964C;
    width: 30%;
    display: inline-block;
    border-right: 2px solid #dee2e6;
    padding: .75rem;
}
.link_action.delete{
    color: #db1f26;
}
.link_action:last-child{
    border:none;
}


/******************** Responsive ***************************/
@media (max-width: 768px) {
.personal_info_form{
    margin:30px 0;
}
.personal_information_inner{
    position: relative;
    top: inherit;
    left: inherit;
    transform: inherit;
}
}