<section class="login_section">
    <div class="login_section_inner">
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-md-12 col-lg-12">
              <div class="login_inner_sec">             
                  <div class="row">
                    <div class="col-md-12">
                      <div class="login_inner_sec_header">
                        <img class="logo img-fluid" src="assets/img/dss_logo.png" alt="">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="login_inner_sec_form">
                        <form (ngSubmit)="resetPassword(resetPasswordFrm)" #resetPasswordFrm="ngForm">
                          <div class="row">
                            <div class="col-md-12">
                              <div class="info_sec">
                                <h4>Reset Password</h4>
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <input type="text" class="form-control" id="password" placeholder="Enter New Password" required  name="password" #password="ngModel" [(ngModel)]="credentials.password" >
                            <!-- <img src="assets/img/userID.png" class="img-fluid input_icon" alt=""> -->
                          </div>
                          <div class="form-group">
                            <input type="text" class="form-control" id="password_confirmation" placeholder="Confirm Password" required  name="password_confirmation" #password_confirmation="ngModel" [(ngModel)]="credentials.password_confirmation" >
                            <!-- <img src="assets/img/userID.png" class="img-fluid input_icon" alt=""> -->
                          </div>
                          <div class="form-group">
                              <small ><b class="text-danger">Note:</b> Password should be 8 to 20 characters which contain at least one numeric digit, one uppercase and one lowercase letter</small>
                          </div>
                          
                        
                          <div class="form-row">
                            <div class="col-md-12">
                              <div class="submit_sec">
                                <button type="submit" class="btn submit_button">Submit</button>
                              </div>
                            </div>
                          </div>  
                        </form>
                      </div>
                    </div>
                  </div>
                  
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  