<section class="personal_information_sec">
    <div class="personal_information_inner">  
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-12">
                    <div class="personal_info_form">
                        <form (ngSubmit)="editOfficeTypeOnSubmit(officeTypeFrm)" #officeTypeFrm="ngForm">			
                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <div class="personal_info_form_heading">
                                        <h4>Update New Office Type</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="personal_info_inner_form"> 
                                <div class="row">
                                    <div class="col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label for="">Office Type</label>
                                            <input type="text" class="form-control" id="office_type" placeholder="Office Type"  name="office_type" #office_type="ngModel" [(ngModel)]="OfficeTypeData.office_type"/>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label for="">Office Type (Bangla)</label>
                                            <input type="text" class="form-control" id="office_type_bn" placeholder="BN Name of Office Type"  name="office_type_bn" #office_type_bn="ngModel" [(ngModel)]="OfficeTypeData.office_type_bn"/>
                                        </div>
                                    </div>
                                     
                                    <div class="col col-md-12">
                                        <div class="submit_sec">
                                            <button type="submit" class="btn submit_button">Update</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>