<div class="row">
    <div class="col-md-12 section-inner">
      <div class="section-header">
        <a [routerLink]="['/profile-information/employee/create']">Create New Employee</a>
      </div>
      <div class="section-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Employee Name</th>
              <th scope="col">Designation</th>
              <th scope="col">Job Type</th>
              <th scope="col">Grade</th>
              <th scope="col">Joining Date</th>
              <th scope="col">Pension Date</th>
              <th scope="col">PRL Date</th>
              <th scope="col">Status</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody> 
              <tr *ngFor="let item of items; index as i">
                <th scope="row">{{item.id}}</th>
                <td>{{item?.employee?.name}}</td> 
                <td>{{item?.designation?.name}}</td> 
                <td>{{item?.job_type?.name}}</td>  
                <td>{{item?.grade?.name}}</td> 
                <td>{{item?.joining_date}}</td> 
                <td>{{item?.pension_date}}</td> 
                <td>{{item?.prl_date}}</td> 
                <td>{{item?.status | statusLabel}}</td>    
                <td class="action-btn text-center">
                    <a class="btn btn-success text-capitalize"
                        [routerLink]="['edit', item.id]">Edit</a> &nbsp;
                    <a class="btn btn-danger text-capitalize"
                        (click)="deleteJobJoining(item.id)">Delete</a>
                </td>
              </tr> 
          </tbody>
        </table>
     </div>
    </div>
  </div>