a:hover {
    cursor: pointer;
}
.section-inner {
    padding: 20px 25px;
}

.section-header {
    padding-bottom: 15px;
    display: flex;
    justify-content: flex-end;
}

.section-body {
    display: flex;
}
.section-header a{
    color: #333;
}
.section-header a:hover{
    text-decoration: none;
}