<section class="personal_information_sec">
    <div class="personal_information_inner">  
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-12">
                    <div class="personal_info_form">
                        <app-spinner [loading]="isLoading"></app-spinner>					
                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <div class="d-flex personal_info_form_heading">
                                        <div class="flex-fill">
                                            <h3>Role Name: {{RoleData.name}}</h3>
                                            <small> Guard Name: {{RoleData.guard_name}} </small>
                                        </div>
                                        <div class="flex-fill">
                                            <div class="btn-group float-right">
                                                <a class="btn btn-sm btn-outline-light " [routerLink]="['/security-management/role/']">Back</a>
                                                <a class="btn btn-sm btn-outline-light " [routerLink]="['/security-management/role/edit', RoleData.id]">Edit</a>                                            
                                                <a class="btn btn-sm btn-outline-light delete" (click)="deleteRole(RoleData.id)">Delete</a>
                                        </div>
                                        </div>
                                    </div>   
                                </div>
                            </div>
                            <div class="personal_info_inner_form"> 
                                <div class="row " *ngIf="RoleData.permissions.length > 0">
                                    <div class="col-md-12 col-lg-12 table_list_sec">
                                        <table class="table table-bordered table-hover">
                                            <thead class="thead-gray">
                                                <tr>
                                                    <th colspan="15">Permission List</th>
                                                </tr>
                                              <tr class="text-capitalize text-center ">
                                                <th scope="col">sl</th>
                                                <th scope="col">Permission Name</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr class="text-capitalize text-center" *ngFor="let item of RoleData.permissions; index as i">
                                                <td scope="row" class="text-center">{{(i+1)}}</td>
                                                <td>{{item.name}}</td>
                                              </tr>
                                            </tbody>
                                          </table>
                                    </div>
                                </div>
                                <div class="row " *ngIf="RoleData.users.length > 0">
                                    <div class="col-md-12 col-lg-12 table_list_sec">
                                        <table class="table table-bordered table-hover">
                                            <thead class="thead-gray">
                                                <tr>
                                                    <th colspan="15">User List</th>
                                                </tr>
                                              <tr class="text-capitalize text-center ">
                                                <th scope="col">sl</th>
                                                <th scope="col">User Name</th>
                                                <th scope="col">Employee ID</th>
                                                <th scope="col">Phone Number</th>
                                                <th scope="col">email</th>
                                                <th scope="col">Status</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr class="text-capitalize text-center" *ngFor="let item of RoleData.users; index as i">
                                                <td scope="row" class="text-center">{{(i+1)}}</td>
                                                <td>{{item.username}}</td>
                                                <td>{{item.employee_id}}</td>
                                                <td>{{item.phone_number}}</td>
                                                <td>{{item.email}}</td>
                                                <td>{{item.status | statusLabel}}</td>
                                              </tr>
                                            </tbody>
                                          </table>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>