<div class="row"> 
    <div class="col-md-12 section-inner p-5">
      <div class="employee_entry_form_heading clearfix">
          <h4 class="float-left">Document Type</h4>
          <a [routerLink]="['/document-management/document-type/create']" class="btn btn-light text-success text-capitalize float-right">Create New</a>
      </div>
      <div class="section-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Document Type</th>
              <th scope="col">Document Type (BAngla)</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of items; index as i">
              <th scope="row">{{item.id}}</th>
              <td>{{item.document_type}}</td>
              <td>{{item.document_type_bn}}</td> 
              <td>
                  <a class="link_action" [routerLink]="['/document-management/document-type/edit', item.id]">Edit</a> &nbsp; 
                  <!-- <a class="btn btn-danger" (click)="deletedocumentType(item.id)">Delete</a> -->
                </td> 
          </tr>
          </tbody>
        </table>
     </div>
    </div>
  </div>