<section class="personal_information_sec">
    <div class="personal_information_inner">  
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-12">
                    <app-spinner [loading]="isLoading"></app-spinner>
                    <div class="personal_info_form">
                        <form *ngIf="activeCreateTransferEmployee" (ngSubmit)="updateTransferOnSubmit(transferFrm)" #transferFrm="ngForm">									
                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <div class="personal_info_form_heading">
                                        <h3>Edit Transfer Proposal</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="personal_info_inner_form"> 
                                <div class="row">
                                    <div class="col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <label for="memo_no">Memo No</label>
                                            <input type="text" class="form-control" id="memo_no" placeholder="Memo No"  required  name="memo_no" #memo_no="ngModel" [(ngModel)]="TransferData.memo_no"/>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <label for="memo_date">Memo Date</label>
                                            <input type="text" class="form-control" id="memo_date" placeholder="Memo Date"  required  name="memo_date" #memo_date="ngModel" [(ngModel)]="TransferData.memo_date"/>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <label for="transfer_date">Transfer Date</label>
                                            <input type="text" class="form-control" id="transfer_date" placeholder="Transfer Date"  required  name="transfer_date" #transfer_date="ngModel" [(ngModel)]="TransferData.transfer_date"/>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4"  *ngIf="employee_list">
                                        <div class="form-group">
                                            <label for="current_position">Person To Notify</label>
                                            <select class="form-control" id="current_position" required  name="current_position" #person_to_notify="ngModel" [(ngModel)]="TransferData.current_position">
                                                <option value="">Select Person To Notify</option>
                                                <option [value]="item.key" *ngFor="let item of employee_list | keyvalue" >{{item.value}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <label for="">Upload Files</label>
                                            <input type="file" class="form-control" id="document_path"  name="document_path" #document_path="ngModel" [(ngModel)]="TransferData.document_path"/>
                                        </div>
                                    </div>
                                </div>
                              
                                <div class="row mt-3">
                                    <div class="col col-md-4">
                                        <div class="back_sec">
                                            <a [routerLink]="['/promotion-transfer/transfer/list']"  class="btn submit_button">Back</a>
                                        </div>
                                    </div>
                                    <div class="col col-md-4">
                                        <div class="save_sec">
                                            <!-- <button type="submit" class="btn submit_button">save</button> -->
                                        </div>
                                    </div>
                                    <div class="col col-md-4">
                                        <div class="submit_sec">
                                            <button type="submit" class="btn submit_button">Update</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>