<nav aria-label="..." *ngIf="pagination">
    <ul class="pagination d-inline-flex">

        <li class="page-item " [ngClass]="(pagination.current_page == 1) ? 'disabled' : ''">
            <a class="page-link" href="javascript:void(0)" (click)="sendPageNumberFn(1)" tabindex="-1">
                <span>First</span>
            </a>
        </li>

        <li class="page-item " [ngClass]="(pagination.current_page == 1) ? 'disabled' : ''">
            <a class="page-link" href="javascript:void(0)" (click)="sendPageNumberFn(pagination.current_page-1)"
                tabindex="-1">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>

        <li class="page-item" *ngFor="let pg of pageNumberArray; index as i"
            [ngClass]="(pagination.current_page == (pg)) ? 'active' : ''">
            <a class="page-link" href="javascript:void(0)" (click)="sendPageNumberFn(pg)">
                {{pg}}
            </a>
        </li>

        <li class=" page-item" [ngClass]="(pagination.current_page == pagination.last_page) ? 'disabled' : ''">
            <a class="page-link" href="javascript:void(0)" (click)="sendPageNumberFn(pagination.current_page+1)">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>

        <li class="page-item" [ngClass]="(pagination.current_page == pagination.last_page) ? 'disabled' : ''">
            <a class="page-link" href="javascript:void(0)" (click)="sendPageNumberFn(pagination.last_page)" >
                <span>Last</span>
            </a>
        </li>
    </ul>
        <ul class="pagination d-inline-flex">
        <li class="page-item">
            <div>
                <input placeholder="Go to" id="current_page" type="number" class="form-control ml-2" min="1" [max]="pagination.last_page"   (change)="sendPageNumberFn($event.target.value)">
            </div>
        </li>
        <li class="page-item pagination-info">
            <div class="info">Showing: {{pagination.from}}-{{pagination.to}} out of {{pagination.total}}</div>
            <div class="info">Page: {{pagination.current_page}} out of {{pagination.last_page}}</div>
        </li>
    </ul>
</nav>