.page-link {
    color: #17a037;
}

.page-link:focus {
    box-shadow:none !important;
}

.page-item:hover:not(.disabled) .page-link {
    background-color: #28a7469f;
    border-color:#28a745;
    color: #fff;
}

.page-item.active .page-link {
    background-color: #28a745;
    border-color:#28a745;
    color: #fff;
}

.pagination-info {
    margin: 0px 10px;
    color: #17a037;
    font-size: 12px;
    font-weight: 600;
}
.page-item.disabled .page-link {
    background-color: #e4e3e3;
}
#current_page {
    width:100px;
}