/******* Default ********/
.form-control:focus {
    outline: 0;
    box-shadow: none;
    border-color: #00964C;
}
.btn:focus, .btn-dark:focus {
    background-color:none;
    border-color: none;
    box-shadow: none;
}
/******* Default ********/
.h4, h4{
    margin: 0;
}

 
.Form-entry-section {
    width: 100%;
    max-width: 100%;
    transition: all .3s;
}
.personal_information_inner.open-menu .Form-entry-section {
    max-width: calc( 100% - 300px );
}
.create-employee-form-sec {
    margin-bottom: 25px;
}
.personal_information_sec{
    background-color: #e8f5ef;
    background-image: url(/assets/img/bgimage.png);
    background-repeat: repeat;
    min-height: calc( 100vh - 216px );
    position: relative;
}
.personal_information_inner{
    width: 100%;
    height: auto;
    padding: 25px;
    display: flex;
}
.personal-employee-submenu-section ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    padding: 15px;
    padding-top: 0;
}

.personal-employee-submenu-section ul a {
    color: #00964c;
    background: #e8f5ef;
    margin-bottom: 10px;
    padding: 6px 15px;
    cursor: pointer;
    border: 1px solid #00964c;
    transition: all .3s;
}
.personal-employee-submenu-section ul a:hover{
    text-decoration: none;
    background: #009245;
    color: #ffffff;
}
.personal-employee-submenu-section ul a.active{
    background: #fff;
    color: #00964c;
}
.personal_info_form{
  background-color: #ffffff;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  box-shadow: 0 1px 5px 0 rgba(50, 50, 50, 0.12);
}
.personal_info_form_heading{
    background-color: #00964C;
    color: white;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.personal_info_form_heading h4{
    font-size: 20px;
    font-weight: normal;
}
.personal_info_inner_form label{
    font-size: 16px;
    color: #525252;
}
.personal_info_inner_form{
    padding: 10px 30px;
}
.personal_info_inner_form .form-control{
    height: 45px;
    border-radius: 0;
}
.save_sec{
    text-align: center;
}
.submit_sec{
    text-align: right;
    margin-bottom: 30px;
    justify-content: space-between;
    display: flex;
    margin-top: 25px;
    border-top: 2px solid #00964c;
    padding-top: 25px;
}
.submit_button{
    min-width: 140px;
    font-size: 18px;
    font-weight: normal;
    background-color: #00964C;
    border:1px solid #00964C;
    color: #ffffff;
    padding: 8px 8px;
    border: none;
    border-radius: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border:1px solid #00964C;
}
.submit_button:hover{
    background-color: #ffffff;
    color: #00964C;
}

.child-item-box {
    border: 2px solid #009245;
    padding: 40px;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.remove-child-btn {
    position: absolute;
    right: 5px;
    top: 5px;
    background: #dc3545;
    border: 0;
    padding: 5px 10px;
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
}
.add-child-btn {
    border: 0;
    padding: 5px 10px;
    background: #00964c;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
}
.remove-child-btn:focus,
.add-child-btn:focus{
    border: 0;
    outline: 0;
}

.personal_info_view {
    background-color: #ffffff;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: 0 1px 5px 0 rgba(50, 50, 50, 0.12);
    padding: 10px 30px;
}
.personal_info_form_heading .btn.view-edit-button {
    border: 0;
    background: #fff;
    color: #00964c;
    padding: 5px 15px;
    font-size: 16px;
    cursor: pointer;
}
.create-employee-form-sec.view-mode .personal_info_inner_form input,
.create-employee-form-sec.view-mode .personal_info_inner_form select
{
    background: #fff;
    border-color: #fff;
    padding: 0;
    height: auto !important;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}

.create-employee-form-sec.view-mode .personal_info_inner_form label {
    margin: 0;
    line-height: normal;
}

.create-employee-form-sec.view-mode .remove-child-btn {
    display: none;
}

/******************** Responsive ***************************/
@media (max-width: 768px) {
.personal_info_form{
    margin:30px 0;
}
.personal_information_inner{
    position: relative;
    top: inherit;
    left: inherit;
    transform: inherit;
}
.personal_info_inner_form .form-control {
    height: 40px;
}
.submit_button {
    min-width: 75px;
    font-size: 20px;
}
}