<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex  dashboard_logo" [routerLink]="['/']">
      <img src="assets/logo/logo.png" class="img-fluid" alt="">
    </a>
    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
      <a class="nav-link" [routerLink]="['/']">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    

    <!-- Nav Item - Pages Collapse Menu -->

    <div class="nav-item-container">
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <i class="fas fa-people-arrows"></i>
          <span>HR Management</span>
        </a>
        <div id="collapseOne" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded"> 
            <a class="collapse-item" [routerLink]="['/hrm/blood']" routerLinkActive="active">Blood</a>
            <a class="collapse-item" [routerLink]="['/hrm/quota']" routerLinkActive="active">Quota</a>
            <a class="collapse-item" [routerLink]="['/hrm/designation']" routerLinkActive="active">Designation</a>
            <a class="collapse-item" [routerLink]="['/hrm/section']" routerLinkActive="active">Section</a>
            <a class="collapse-item" [routerLink]="['/hrm/department']" routerLinkActive="active">Department</a>
            <a class="collapse-item" [routerLink]="['/hrm/rank']" routerLinkActive="active">Rank/Level</a>
            <a class="collapse-item" [routerLink]="['/hrm/division']" routerLinkActive="active">Division</a>
            <a class="collapse-item" [routerLink]="['/hrm/district']" routerLinkActive="active">District</a>
            <a class="collapse-item" [routerLink]="['/hrm/upazila']" routerLinkActive="active">Upazila</a>
            <a class="collapse-item" [routerLink]="['/hrm/marital-status']" routerLinkActive="active">Marital Status</a>
            <a class="collapse-item" [routerLink]="['/hrm/gender']" routerLinkActive="active">Gender</a>
            <a class="collapse-item" [routerLink]="['/hrm/examination']" routerLinkActive="active">Examination</a>
            <a class="collapse-item" [routerLink]="['/hrm/salary-grade']" routerLinkActive="active">Salary Grade</a>
            <a class="collapse-item" [routerLink]="['/hrm/complaint-type']" routerLinkActive="active">Complaint Type</a>
            <a class="collapse-item" [routerLink]="['/hrm/posting-type']" routerLinkActive="active">Posting Type</a>
            <a class="collapse-item" [routerLink]="['/hrm/travel-type']" routerLinkActive="active">Travel Type</a>
            <a class="collapse-item" [routerLink]="['/hrm/vehicle-engine-type']" routerLinkActive="active">Vehicle Engine Type</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#office_management" aria-expanded="true" aria-controls="collapseoffice">
          <i class="fas fa-building"></i>
          <span>Office Management</span>
        </a>
        <div id="office_management" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" [routerLink]="['/office-management/office-type/list']" routerLinkActive="active">Office Type</a>
            <a class="collapse-item" [routerLink]="['/office-management/office-category/list']" routerLinkActive="active">Office Category</a>
            <a class="collapse-item" [routerLink]="['/office-management/office-entry/list']" routerLinkActive="active">Office Entry Table</a>
          </div>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-portrait"></i>
          <span>Personal Information Management</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" [routerLink]="['/profile-information/employee/create']" routerLinkActive="active">Add Employee</a>
            <a class="collapse-item" [routerLink]="['/profile-information/employee/list']" routerLinkActive="active">Employee List</a>
            <!-- <a class="collapse-item" [routerLink]="['/profile-information/job-joining']" routerLinkActive="active">Job Joining Information</a> 
            <a class="collapse-item" [routerLink]="['/profile-information/quota-information']" routerLinkActive="active">Quata Information</a>  -->
          </div>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="far fa-file-alt"></i>
          <span>Employee Doc Management</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" [routerLink]="['/document-management/document-type/list']" routerLinkActive="active">Document Type</a> 
            <a class="collapse-item" [routerLink]="['/document-management/document-table/list']" routerLinkActive="active">Document Table</a>
          </div>
        </div>
      </li> 
      
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#UserInfoManagement" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-user"></i>
          <span>User Info Management</span>
        </a>
        <div id="UserInfoManagement" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" [routerLink]="['/profile-information/employee/list']" routerLinkActive="active">User List</a> 
          </div>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#PromotionTransfer" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fighter-jet"></i>
          <span>Promotion & Transfer</span>
        </a>
        <div id="PromotionTransfer" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" [routerLink]="['/promotion-transfer/promotion/list']" routerLinkActive="active">Promotion</a>
            <a class="collapse-item" [routerLink]="['/promotion-transfer/transfer/list']" routerLinkActive="active">Transfer List</a>
          </div>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#SecurityManagement" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fab fa-expeditedssl"></i>
          <span>Security Management</span>
        </a>
        <div id="SecurityManagement" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" [routerLink]="['/security-management/permission']" routerLinkActive="active">User Permission</a>
            <a class="collapse-item" [routerLink]="['/security-management/role']" routerLinkActive="active">User Role</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#userActivity" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-user-clock"></i>
          <span>User Log Management</span>
        </a>
        <div id="userActivity" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" [routerLink]="['/security-management/user-log']" routerLinkActive="active">User Activity Log</a>
          </div>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#reports" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-clipboard"></i>
          <span>Reports</span>
        </a>
        <div id="reports" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" [routerLink]="['/reports/working-employee-list']" routerLinkActive="active">Working Employee List</a>
            <a class="collapse-item" [routerLink]="['/reports/vacant-position-list']" routerLinkActive="active">Vacant Position List</a>
          </div>
        </div>
      </li>
      
  
      <!-- Divider -->
      
  
       
    </div>


    

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

  </ul>