/*********** Sidebar  *************/
.sidebar {
    width: 14rem!important;
    min-height: 100vh;
  }
  .bg-gradient-primary {
  background-color: rgb(225, 236, 225);
  }
  .navbar-nav {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  .sidebar-dark .sidebar-brand {
    color: #fff;
  }
  .sidebar .sidebar-brand {
    padding: 10px 16px;
    z-index: 1;
    background-color: #009245;
  }
  .dashboard_logo img{
    max-height: 66px;
    background-color: #ffffff;
  }
  .rotate-n-15 {
    transform: rotate(-15deg);
  }
  .sidebar-dark hr.sidebar-divider {
    border-top: 1px solid rgba(255,255,255,.75);
  }
  .sidebar hr.sidebar-divider {
    margin: 0 1rem 1rem;
  }
  .nav-item-container {
    height: calc( 100vh - 138px );
    overflow: hidden;
    overflow-y: auto;
}
  .sidebar .nav-item {
    position: relative;
    border-bottom: 1px solid #ffff;
  }
  .sidebar-dark .nav-item.active .nav-link {
    color: #ffffff;
    background-color: rgb(140, 187, 140);
  }
  .sidebar .nav-item.active .nav-link {
    font-weight: 700;
  }
  .sidebar .nav-item .nav-link {
    display: block;
    width: 100%;
    text-align: left;
    padding: 1rem;
    width: 14rem;
    line-height: normal;
  }
  .sidebar .nav-item .nav-link span {
    font-size: .85rem;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: calc( 100% - 42px );
    margin-left: 5px;
  }
  .sidebar-dark .nav-item .nav-link {
    color: #000000;
  }
  .sidebar .nav-item .collapse {
    position: relative;
    left: 0;
    z-index: 1;
    top: 0;
    -webkit-animation: none;
    animation: none;
  }
  .sidebar .nav-item .collapse, 
  .sidebar .nav-item .collapsing {
    margin: 0 1rem;
  }
  .sidebar .nav-item .collapse .collapse-inner, 
  .sidebar .nav-item .collapsing .collapse-inner {
    padding: .5rem 0;
    min-width: 10rem;
    font-size: .85rem;
    margin: 0 0 1rem 0;
  }
  .sidebar .nav-item .collapse .collapse-inner {
    border-radius: 0;
    box-shadow: none;
  }
  .sidebar .nav-item .collapse .collapse-inner .collapse-item, 
  .sidebar .nav-item .collapsing .collapse-inner .collapse-item {
    padding: .5rem 1rem;
    margin: 0 .5rem;
    display: block;
    color: #3a3b45;
    text-decoration: none;
    border-radius: .35rem;
    white-space: nowrap;
    border-bottom: 1px solid #d7e6de;
    border-radius: 0;
  }
  .sidebar .nav-item .collapse .collapse-inner .collapse-item:last-child, 
  .sidebar .nav-item .collapsing .collapse-inner .collapse-item:last-child{
    border: 0;
  }
  .sidebar .nav-item .nav-link[data-toggle=collapse].collapsed::after {
    content: '\f105';
  }
  .sidebar .nav-item .nav-link[data-toggle=collapse]::after {
    width: 1rem;
    text-align: center;
    float: right;
    vertical-align: 0;
    border: 0;
    font-weight: 900;
    content: '\f107';
    font-family: 'Font Awesome 5 Free';
  }

  .sidebar .nav-item a i {
    color: #00964C;
  }

  .sidebar .nav-item .collapse-item.active, .sidebar .nav-item .collapse-item:hover {
    background-color: #00964C;
    color: #fff !important;
    transition: 0.5s;
  }