<router-outlet></router-outlet>
<!-- <mat-form-field>
    <input matInput [matDatepicker]="date_of_birth" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="date_of_birth"></mat-datepicker-toggle>
    <mat-datepicker #date_of_birth></mat-datepicker>
</mat-form-field> -->