<div class="row">
    <div class="col-md-12 section-inner p-5">
      <div class="employee_entry_form_heading clearfix">
          <h4 class="float-left">Working Employee List</h4> 
      </div>
      <div class="section-body">
       <div class="scrollable-table"> 
        <table class="table table-bordered"> 
            <thead>
              <tr>
                <th><span>ক্রমিক<br> নং</span></th>
                <th><span>বিভাগ/<br>জেলার নাম</span></th>
                <th><span>কর্মরত<br> কর্মকর্তার<br> নাম</span></th>
                <th>
                      <tr>
                          <th colspan="4">বর্তমানে কর্মরত পদের বিবরণী </th>
                      </tr>
                      <tr>
                          <th><span>পদের নাম</span></th>
                          <th><span>কার্যালয়ের নাম</span></th>
                          <th><span>যোগদানের তারিখ</span></th>
                          <th><span>পদের গ্রেড</span></th>
                      </tr>
                </th>
                <th><span>জন্ম তারিখ</span></th>
                <th><span>নিজ জেলা ও উপজেলা</span></th>
                <th><span>পিআরএল গমনের তারিখ</span></th>
                <th><span>ইত: পুর্বে ৩ টি কর্মস্থলের নাম ও সময়কাল</span></th>
                <th><span>শিক্ষাগত যোগ্যতা/ বিশ্ববিদ্যালয়</span></th>
                <th>
                  <tr>
                      <th colspan="2">প্রশিক্ষণের বিবরণ</th>
                  </tr>
                  <tr>
                      <th><span>দেশে</span></th>
                      <th><span>বিদেশে</span></th>
                  </tr>
                </th>
                <th><span>অতিরিক্ত যোগ্যতা / বিশ্ববিদ্যালয়</span></th>
                <th><span>রক্তের গ্রুপ</span></th>
                <th><span>পদোন্নতি প্রাপ্ত হলে পদোন্নরিত তারিখ</span></th>
                <th><span>সিলেকশন গ্রেড প্রাপ্তির তারিখ</span></th>
                <th><span>উচ্চতর গ্রেড প্রাপ্তির তারিখ</span></th>
                <th><span>টাইম স্কেল প্রাপ্তির তারিখ</span></th>
                <th>
                  <tr>
                      <th colspan="4">রাজস্বখাতের  চাকুরিতে যোগদানের বিবরণ </th>
                  </tr>
                  <tr>
                      <th><span>পদের নাম</span></th>
                      <th><span>যোগদানের তারিখ</span></th>
                      <th><span>পদের শ্রেণী</span></th>
                      <th><span>বেতন গ্রেড</span></th>
                  </tr>
                </th>
                <th>
                    <tr>
                        <th colspan="4">উন্নয়ন প্রকল্প হতে রাজস্ব খাতে স্থানান্তরিত <br> কর্মকর্তার বিবরণ  </th>
                    </tr>
                    <tr>
                        <th><span>রাজস্বখাতে স্থানান্তরে তারিখ</span></th>
                        <th><span>পদের নাম</span></th>
                        <th><span>পদায়নের তারিখ</span></th>
                        <th><span>নিয়মিতকরণের তারিখ</span></th>
                    </tr>
                </th>
                <th>
                    <tr>
                        <th colspan="2">আত্মীয়করণকৃত <br> কর্মকর্তা/কর্মচারীর <br> বিবরণ</th>
                    </tr>
                    <tr>
                        <th><span>আত্মীকরনের স্মারক ও তারিখ</span></th>
                        <th><span>পদ</span></th>
                    </tr>
                </th>
                 
                <th><span>এডহক ভিত্তিতে নিয়োগ কি/না (তার বিবরণ)</span></th>
                <th><span>স্থায়ী করণের তারিখ</span></th>
                <th><span>বেতন স্কেল</span></th>
                <th><span>বর্তমান বেতন স্কেল</span></th>
                <th><span>মুক্তিযোদ্ধা কিনা (হ্যাঁ/না)</span></th>
                <th><span>জাতীয় পরিচয় পত্রের নম্বর</span></th>
                <th><span>টিন নম্বর</span></th>
                <th><span>মোবাইল নম্বর ও ই-মেইল</span></th>
                <th><span>শ্রান্তি বিনোদন ভাতা প্রাপ্তির তারিখ</span></th>
                <th><span>সরকারি বাসায় বসবাস করেন কিনা (হ্যাঁ/না)</span></th>
                <th><span>লিঙ্গ</span></th>
                <th><span>প্রতিবন্ধী কি/না (প্রতিবন্ধিতার ধরণ)</span></th>
                <th><span>বৈবাহিক অবস্থা</span></th>
                <th>
                    <tr>
                        <th colspan="2">সন্তানের সংখ্যা </th>
                    </tr>
                    <tr>
                        <th><span>ছেলে <br>(বয়স সহ)</span></th>
                        <th><span>মেয়ে <br>(বয়স সহ)</span></th>
                    </tr>
                </th>
                <th><span>সংযুক্ত</span></th>
                <th><span>অতিরিক্ত দায়িত্ব</span></th>
                <th><span>মন্তব্য</span></th>
  
  
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>10</td> 
                <td>10</td> 

              </tr>
            </tbody>
             
          </table>
       </div>
     </div>
    </div>
  </div>