.scrollable-table {
    overflow-y: auto;
}

table thead th {
    padding: 0 !important; 
    text-align: center;
}

table thead th tr:first-child th {
    border: 0 !important;
}

table thead th tr th {
    border-left: 0 !important;
    border-bottom: 0 !important;
}
.table thead th span {
    padding: 5px;
    width: 100%;
    text-align: center;
    display: block;
}

.table thead th {
    min-width: 100px;
}