<div class="row">  
    <div class="col-md-12 section-inner p-5">      
      <app-spinner [loading]="isLoading"></app-spinner>
      <div class="table_list_sec">
        <div class="table_list_sec_heading clearfix">
          <h4 class="float-left">Transfer Information</h4>
          <a [routerLink]="['/promotion-transfer/transfer/create']" class="btn btn-light text-success text-capitalize float-right">Create New</a>
        </div>
        
        <div class="section-body" >
          <table class="table table-bordered  table-hover">
            <thead class="thead-gray">
              <tr class="text-capitalize text-center ">
                <th scope="col">sl</th>
                <th scope="col">Memo NO</th>
                <th scope="col">Memo Date</th>
                <th scope="col">Transfer Date</th>
                <th scope="col">Approval Status</th>
                <th scope="col">Record Status</th>
                <th scope="col" colspan="3">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr class="text-capitalize text-center" *ngFor="let item of items; index as i">
                <td scope="row" class="text-center">{{(pagination.from+i)}}</td>
                <td>{{item.memo_no}}</td>
                <td>{{item.memo_date}}</td>
                <td>{{item.transfer_date}}</td>
                <td >{{getApprovalStatus(item.approval_status)}}</td>
                <td class="text-center">{{item.status | statusLabel }}</td>
                <td class="action_btn_list">
                  <a class="link_action" [routerLink]="['/promotion-transfer/transfer/view', item.id]">View</a>
                </td>
                <td class="action_btn_list">
                  <a class="link_action" [routerLink]="['/promotion-transfer/transfer/edit', item.id]">Edit</a>
                </td>
                <td class="action_btn_list">
                  <a class="link_action delete" (click)="deleteTransfer(item.id)">Delete</a>
                </td>
              </tr>
            </tbody>
            <tfoot *ngIf="pagination.last_page > 1">
                <tr>
                    <td scope="col" colspan="10">
                        <app-pagination  [pagination]="pagination" (selectPage)="getPageDataFn($event)"></app-pagination>
                    </td>
                </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>