.table_list_sec{
    background-color: #ffffff;
}

.table_list_sec_heading{
    background-color: #00964C;
    color: white;
    padding: 10px 30px;
    font-size: 25px;
    margin-bottom: 15px;
  }
  .table_list_sec .table-hover tbody tr:hover {
    color: #212529;
    background-color: #e8f5ef;
}
.table_list_sec table thead{
    background-color: #e8f5ef;
}
  .action_btn_list {
    background-color: #e8f5ef;
   padding:0;
}
.link_action{
    text-transform: capitalize;
    color:#00964C;
    width: 30%;
    display: inline-block;
    border-right: 2px solid #dee2e6;
    padding: .75rem;
    cursor: pointer;
}
.link_action.delete{
    color: #db1f26;
}
.link_action:last-child{
    border:none;
}