<section class="personal_information_sec">
    <div class="personal_information_inner">  
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-12">
                    <div class="personal_info_form">
                        <app-spinner [loading]="isLoading"></app-spinner>					
                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <div class="d-flex personal_info_form_heading">
                                        <h3 class="flex-fill">Promotion Details</h3>
                                        <div class="flex-fill">
                                            <div class="btn-group float-right">
                                                <a class="btn btn-sm btn-outline-light " [routerLink]="['/promotion-transfer/promotion/list']">Back</a>
                                                <a class="btn btn-sm btn-outline-light " [routerLink]="['/promotion-transfer/promotion/edit', PromotionData.id]">Edit</a>                                            
                                                <a class="btn btn-sm btn-outline-light delete" (click)="deletePromotion(PromotionData.id)">Delete</a>
                                        </div>
                                        </div>
                                    </div>   


                                </div>
                            </div>
                            <div class="personal_info_inner_form"> 
                                <div class="row">
                                    <div class="col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <div class="label">Memo no : </div>
                                            <div class="label_info">{{PromotionData.memo_no}}</div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <div class="label">Memo date : </div>
                                            <div class="label_info">{{PromotionData.memo_date}}</div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <div class="label">Approval status : </div>
                                            <div class="label_info">{{getApprovalStatus(PromotionData.approval_status)}}</div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <div class="label">Issue no : </div>
                                            <div class="label_info">{{PromotionData.issue_no}}</div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <div class="label">basic_pay : </div>
                                            <div class="label_info">{{PromotionData.basic_pay}}</div>
                                        </div>
                                    </div>
                                   
                                    <div class="col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <div class="label">Pay scale : </div>
                                            <div class="label_info">{{PromotionData.pay_scale}}</div>
                                        </div>
                                    </div>
                                    <!-- <div class="col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <div class="label">Posting type : </div>
                                            <div class="label_info">{{PromotionData.posting_type_id}}</div>
                                        </div>
                                    </div> -->
                                    <div class="col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <div class="label">Promotion date : </div>
                                            <div class="label_info">{{PromotionData.promotion_date}}</div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <div class="label">Record Status : </div>
                                            <div class="label_info">{{PromotionData.status | statusLabel}}</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row " *ngIf="PromotionData.promotion_proposal_details.length > 0">
                                    <div class="col-md-12 col-lg-12 table_list_sec">
                                        <table class="table table-bordered table-hover">
                                            <thead class="thead-gray">
                                                <tr>
                                                    <th colspan="15">Promotion List</th>
                                                </tr>
                                              <tr class="text-capitalize text-center ">
                                                <th scope="col">sl</th>
                                                <th scope="col">Employee ID</th>
                                                <th scope="col">Employee Name</th>
                                                <th scope="col">Current Designation</th>
                                                <th scope="col">Current Office</th>
                                                <th scope="col">Designation<br/>After Promotion</th>
                                                <th scope="col">Office <br/>After Promotion</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr class="text-capitalize text-center" *ngFor="let item of PromotionData.promotion_proposal_details; index as i">
                                                <td scope="row" class="text-center">{{(i+1)}}</td>
                                                <td>{{item.employee_id}}</td>
                                                <td>{{item.employee.name}}</td>
                                                <td>{{item.previous_deesignation.name}}</td>
                                                <td>{{item.previous_office.office_name}}</td>
                                                <td>{{item.proposed_deesignation.name}}</td>
                                                <td>{{item.proposed_office.office_name}}</td>                                                                                              
                                                
                                              </tr>
                                            </tbody>
                                           
                                          </table>
                                    </div>
                                </div>
                                <div class="row " *ngIf="PromotionData.promotion_proposal_notes.length > 0">
                                    <div class="col-md-12 col-lg-12 table_list_sec">
                                        <table class="table table-bordered table-hover">
                                            <thead class="thead-gray">
                                                <tr>
                                                    <th colspan="15">Promotion Notes</th>
                                                </tr>
                                              <tr class="text-capitalize text-center ">
                                                <th scope="col">sl</th>
                                                <th scope="col">Employee ID</th>
                                                <th scope="col">Note Promotion</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr class="text-capitalize text-center" *ngFor="let item of PromotionData.promotion_proposal_notes; index as i">
                                                <td scope="row" class="text-center">{{(i+1)}}</td>
                                                <td>{{item.employee_id}}</td>
                                                <td>{{item.note_promotion}}</td>
                                              </tr>
                                            </tbody>
                                           
                                          </table>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>