<div class="row"> 
  <div class="col-md-12 section-inner section-inner p-5">
    <div class="office_entry_form_heading clearfix">
        <h4 class="float-left">Office Category</h4>
        <a [routerLink]="['/office-management/office-category/create']" class="btn btn-light text-success text-capitalize float-right">Create New</a>
    </div>
      <div class="section-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Office Type</th>
              <th scope="col">Office Type BN</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of category; index as i">
                <th scope="row">{{item.id}}</th>
                <td>{{item.office_category}}</td>
                <td>{{item.office_category_bn}}</td> 
                <td>
                    <a class="btn btn-success" [routerLink]="['/office-management/office-category/list', item.id]">view</a> &nbsp; 
                    <a class="btn btn-success" [routerLink]="['/office-management/office-category/edit', item.id]">Edit</a> &nbsp; 
                    <!-- <a class="btn btn-danger" (click)="deleteOfficeCAtegory(item.id)">Delete</a> -->
                  </td> 
            </tr>
          </tbody>
        </table>
     </div>
    </div>
  </div>