<section class="personal_information_sec">
    <div class="personal_information_inner">  
        <div class="container">
            <div class="row no-gutters">
                
                <div class="col-md-12">
                    <div class="personal_info_form">
                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <div class="d-flex personal_info_form_heading">
                                        <h3 class="flex-fill">Transfer Details</h3>
                                        <div class="flex-fill">
                                            <div class="btn-group float-right">
                                                <a class="btn btn-sm btn-outline-light " [routerLink]="['/promotion-transfer/transfer/list']">Back</a>
                                                <a class="btn btn-sm btn-outline-light " [routerLink]="['/promotion-transfer/transfer/edit', TransferData.id]">Edit</a>                                            
                                                <a class="btn btn-sm btn-outline-light delete" (click)="deleteTransfer(TransferData.id)">Delete</a>
                                        </div>
                                        </div>
                                    </div>                                    
                                </div>
                            </div>
                            <app-spinner [loading]="isLoading"></app-spinner>
                            <div class="personal_info_inner_form" *ngIf="!isLoading"> 
                                <div class="row">
                                    <div class="col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <div class="label">Memo no : </div>
                                            <div class="label_info">{{TransferData.memo_no}}</div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <div class="label">Memo date : </div>
                                            <div class="label_info">{{TransferData.memo_date}}</div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <div class="label">Current Position : </div>
                                            <div class="label_info">{{TransferData.current_position}}</div>
                                        </div>
                                    </div>    
                                    <div class="col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <div class="label">Transfer date : </div>
                                            <div class="label_info">{{TransferData.transfer_date}}</div>
                                        </div>
                                    </div>                                
                                    <div class="col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <div class="label">Approval status : </div>
                                            <div class="label_info">{{getApprovalStatus(TransferData.approval_status)}}</div>
                                        </div>
                                    </div>
                                   
                                    
                                    <div class="col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <div class="label">Record Status : </div>
                                            <div class="label_info">{{TransferData.status | statusLabel}}</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row " *ngIf="TransferData.transfer_details.length > 0">
                                    <div class="col-md-12 col-lg-12 table_list_sec">
                                        <table class="table table-bordered table-hover">
                                            <thead class="thead-gray">
                                                <tr>
                                                    <th colspan="15">Transfer List</th>
                                                </tr>
                                              <tr class="text-capitalize text-center ">
                                                <th scope="col">sl</th>
                                                <th scope="col">Employee ID</th>
                                                <th scope="col">Employee Name</th>
                                                <th scope="col">Current Office</th>
                                                <th scope="col">Office After Transfer</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr class="text-capitalize text-center" *ngFor="let item of TransferData.transfer_details; index as i">
                                                <td scope="row" class="text-center">{{(i+1)}}</td>
                                                <td>{{item.employee_id}}</td>
                                                <td>{{item.employee_id}}</td>
                                                <td>{{item.previous_office_id}}</td>
                                                <td>{{item.proposed_office_id}}</td>                                                                                              
                                              </tr>
                                            </tbody>
                                           
                                          </table>
                                    </div>
                                </div>                                
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>