

.language_select ul li button.bn-lang {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.language_select ul li button.en-lang {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

/******* Default ********/
.form-control:focus {
  outline: 0;
  box-shadow: none;
  border-color: #00964C;
}
.btn:focus, .btn-dark:focus {
  background-color:none;
  border-color: none;
  box-shadow: none;
}

/******* Default ********/
.input-group-sec {
  position: relative;
}
.login_section{
background-color: #e8f5ef;
background-image: url(/assets/img/bgimage.png);
background-repeat: repeat;
min-height: 100vh;
height: 100%;
position: relative;
align-items: center;
display: flex;
padding:15px 0;
}

.login_inner_sec {
  background-color: #ffffff;
  /* border-bottom-right-radius: 50px; */
  /* border-bottom-left-radius: 50px; */
  padding: 15px;
  box-shadow: 0 1px 5px 0 rgba(50, 50, 50, 0.12);
  max-width: 400px;
  margin: 0 auto;
}
.language_select_text {
  text-align: center;
  padding: 10px 0;
}
.language_select_text h4 {
  color: #00964c;
  font-size: 18px;
  margin-bottom: 0;
}
.language_select {
  text-align: center;
  margin-bottom: 20px;
  margin-left: -2px;
}
.language_select ul{
margin:0;
padding: 0;
background-color: #ebebeb;
display: inline-block;
border-radius:10px;
}
.language_select ul li{
display: inline-block;
}
.language_select ul li button {
  padding: 5px 10px;
  color: #000000;
  display: block;
  min-width: 90px;
  border: 0;
  outline: 0;
  font-size: 14px;
}

.language_select ul li button.active, .language_select ul li:hover button, .language_select ul li:hover button:focus {
  background-color: #00964C;
  color: #ffffff;
  border: 0;
  outline: 0;
}
.language_select ul li:first-child button.active, .language_select ul li:first-child:hover button {
  /* border-top-left-radius: 10px; */
  /* border-bottom-left-radius: 10px; */
  border: 0;
  outline: 0;
}

.language_select ul li:last-child button.active,
.language_select ul li:last-child:hover button{
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
border: 0;
outline:0;
}


.login_inner_sec_header{
  text-align: center;
}
.login_inner_sec_header .logo {
  max-width: 85px;
}

.info_sec {
  color: #00964c;
  font-size: 18px;
  text-align: center;
}
.submit_sec{
  text-align: right;
}
.submit_button {
  min-width: 135px;
  font-size: 16px;
  font-weight: 600;
  background-color: #00964C;
  border: 1px solid #00964C;
  color: #ffffff;
  padding: 5px 25px;
  border: none;
  border-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.forget-psw{
  text-align: right;
  margin-top: 5px;
}
.forget-psw a{
  display: inline-block;
  color: #d71f26;
}
.login_inner_sec_form .form-group {
  position: relative;
  margin-bottom: 15px;
}
.login_inner_sec_form .form-group .form-control {
  position: relative;
  height: 40px;
  border-radius: 0;
}
.login_inner_sec_form .form-group .input_icon {
  position: absolute;
  right: 15px;
  top: 50%;
  max-height: 15px;
  transform: translateY(-50%);
}
.checkbox_sec {
  width: 100%;
  position: relative;
  display: block;
}
.checkbox_sec label {
  position: relative;
  min-height: 25px;
  display: block;
  padding-left: 40px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}
.checkbox_sec label span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.checkbox_sec label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  transition: transform 0.28s ease;
  border: 2px solid #00964c;
}
.checkbox_sec label:after {
  content: '';
  display: block;
  width: 22px;
  height: 10px;
  border-bottom: 2px solid #00964c;
  border-left: 2px solid #00964c;
  transform: rotate(-45deg) scale(0);
  transition: transform ease 0.25s;
  position: absolute;
  top: 2px;
  left: 8px;
}
.checkbox_sec input[type="checkbox"] {
  width: auto;
  opacity: 0.00000001;
  position: absolute;
  left: 0;
  margin-left: -20px;
}
.checkbox_sec input[type="checkbox"]:checked ~ label:before {
  border: 2px solid #34C37A;
}
.checkbox_sec input[type="checkbox"]:checked ~ label:after {
  transform: rotate(-45deg) scale(1);
}
.checkbox_sec input[type="checkbox"]:focus + label::before {
  outline: 0;
}

/******************** Responsive ***************************/
@media (max-width: 767px) {
  .login_inner_sec{
      border-radius: 50px;
  }
  .submit_sec {
      text-align: center;
  }
  .login_inner_sec_header h4 {
      font-size: 25px;
      padding: 25px 0;
  }
  .login_inner_sec_form .form-group {
      margin-bottom: 15px;
  }
  .language_select {
    margin-bottom: 30px;
  }
  .login_inner_sec_form{
    margin-top: 30px;
}
}


