<section class="login_section ">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-12 col-lg-12">
          <div class="login_inner_sec">   
            <div class="row">
              <div class="col-md-12">
                <div class="login_inner_sec_header">
                  <img class="logo img-fluid" src="/assets/img/dss_logo.png" alt="">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="language_select_text"> 
                    <h4>{{localization['lang_select_text']}}</h4>
                </div>
                <div class="language_select">
                  <ul>
                    <li>
                      <button (click)="changeLang('en')" [ngClass]="{'active': (userLang == 'en')}" class=" en-lang">English</button>
                    </li>
                    <li>
                      <button (click)="changeLang('bn')" [ngClass]="{'active': (userLang == 'bn')}" class="bn-lang">বাংলা</button>
                    </li>
                  </ul>
                </div>
              </div>
            </div>             
              
              <div class="row">
                <div class="col-md-12">
                  <div class="login_inner_sec_form">
                    <form (ngSubmit)="login(loginFrm)" #loginFrm="ngForm">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="info_sec">
                            <p>{{localization['form_title']}}</p>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                          <div class="input-group-sec">
                            <input type="name" class="form-control" id="user_id" placeholder="{{localization['form_email']}}" required  name="email" #email="ngModel" [(ngModel)]="credentials.email" >
                            <img src="/assets/img/userID.png" class="img-fluid input_icon" alt="">
                          </div>
                          <!-- <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error-msg">
                            <p  *ngIf="email.errors.required" class="error">
                              Email/User ID is required
                            </p>
                          </div> -->
                      </div>
                      <div class="form-group">
                        <div class="input-group-sec">
                          <input type="password" class="form-control" id="password" placeholder="{{localization['form_password']}}" required name="password" #password="ngModel" [minlength]="6" [(ngModel)]="credentials.password">
                          <img src="/assets/img/password_icon.png" class="img-fluid input_icon" alt="">
                        </div>
                        <!-- <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error-msg">
                          <p *ngIf="password.errors.minlength" class="error">
                            Password must be at least 6 characters!
                          </p>
                          <p *ngIf="password.errors.required" class="error">
                            Password is required
                          </p>
                        </div> -->
                      </div>
                      <div class="form-row">
                        <div class="col-md-6">
                          <div class="form-group form-check">
                            <div class="checkbox_sec">
                              <input type="checkbox" class="form-check-input large_ceheckbox" id="reminder_me">
                              <label class="form-check-label" for="reminder_me"><span>{{localization['form_remember_me']}}</span></label>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="forget-psw">
                            <a [routerLink]="['/auth/forgot']" >{{localization['form_forget_title']}}</a>
                          </div>                           
                        </div>
                      </div>  
                      <div class="row">
                        <div class="col-md-12">
                          <div class="submit_sec">
                            <button class="btn submit_button" type="submit">{{localization['form_submit_btn']}}</button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              
          </div>
      </div>
    </div>
  </div>
</section>