a:hover {
    cursor: pointer;
   }
   .section-inner {
       padding: 20px 25px;
   }
   
   .section-header {
       padding-bottom: 15px;
       display: flex;
       justify-content: flex-end;
   }
   .personal_info_form_heading{
    background-color: #00964C;
    color: white;
    padding: 10px 30px;
    font-size: 25px;
  }
   .section-body {
       display: flex;
   }
   .section-header a{
       color: #333;
   }
   .section-header a:hover{
       text-decoration: none;
   }