<div class="row">
    <div class="col-md-12 section-inner p-5">
        <div class="personal_info_form_heading clearfix">
            <h4 class="float-left">Office Type Information</h4>        
        </div>
        <div class="section-body d-flex">
            <table class="table table-bordered  table-hover">
                <thead class="thead-gray">
                    <tr class="text-capitalize text-center ">
                        <th scope="col">sl</th>
                        <th scope="col">Name</th>
                        <th scope="col">Name in Bangla</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-capitalize">
                        <th scope="row" class="text-center">{{item.id}}</th>
                        <td>{{item.office_type}}</td>
                        <td>{{item.office_type_bn}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>