
table thead th {
    padding: 0 !important; 
    text-align: center;
}

table thead th tr:first-child th {
    border: 0 !important;
}

table thead th tr th {
    border-left: 0 !important;
    border-bottom: 0 !important;
}
table thead th span {
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


table tbody td {
    padding: 0 !important; 
    text-align: center;
}

table tbody td tr td {
    padding: 0 !important;
    border: 0 !important;
    border-right: 1px solid #dee2e6 !important;
    text-align: center;
}