<div class="row">
    <div class="col-md-12 section-inner p-5">
      <div class="employee_entry_form_heading clearfix">
          <h4 class="float-left">Working Employee List</h4> 
      </div>
      <div class="section-body">
       <div class="scrollable-table"> 
        <table class="table table-bordered"> 
            <thead>
              <tr>
                <th><span>ক্রমিক নং</span></th>
                <th><span>পদের নাম</span></th>
                <th><span>কার্যালয়ের নাম</span></th>
                <th><span>অনুমোদিত পদের সংখ্যা </span></th>
                <th><span>কর্মরত পদের সংখ্যা </span></th>
                <th><span>শূন্য পদের সংখ্যা</span></th>
                <th><span>শূন্য হওয়া কারণ ও তারিখ </span></th>
                <th><span>শ্রেণী/গ্রেড </span></th>
                <th><span>স্থায়ী/অস্থায়ী </span></th> 
                <th style="width: 300px;">
                    <tr>
                        <th colspan="2" style="width: 300px;"><span>মোট সংরক্ষিত পদের বিবরণ</span></th>
                    </tr>
                    <tr>
                        <th style="width: 200px;"><span>সর্বশেষ সংরক্ষণের তারিখ</span></th>
                        <th style="width: 100px;"><span>পদ সংখ্যা </span></th>
                    </tr>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr> 
                <td>1</td>
                <td>2</td>
                <td>3</td> 
                <td>4</td> 
                <td>5</td> 
                <td>6</td> 
                <td>7</td> 
                <td>8</td>
                <td>9</td>
                <td colspan="2"> 
                    <tr>
                        <td style="width: 200px;">5</td>
                        <td style="width: 100px;">2</td>
                    </tr>
                </td>
              </tr>
              <tr> 
                <td>1</td>
                <td>2</td>
                <td>3</td> 
                <td>4</td> 
                <td>5</td> 
                <td>6</td> 
                <td>7</td> 
                <td>8</td>
                <td>9</td>
                <td colspan="2"> 
                    <tr>
                        <td style="width: 200px;">5</td>
                        <td style="width: 100px;">2</td>
                    </tr>
                </td>
              </tr>
              <tr> 
                <td>1</td>
                <td>2</td>
                <td>3</td> 
                <td>4</td> 
                <td>5</td> 
                <td>6</td> 
                <td>7</td> 
                <td>8</td>
                <td>9</td>
                <td colspan="2"> 
                    <tr>
                        <td style="width: 200px;">5</td>
                        <td style="width: 100px;">2</td>
                    </tr>
                </td>
              </tr>
            </tbody>
             
          </table>
       </div>
     </div>
    </div>
  </div>