<section class="upazila_information_sec">
    <div class="upazila_information_inner">  
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-12">
                    <div class="upazila_info_form">
                        <app-spinner [loading]="isLoading"></app-spinner>
                        <form (ngSubmit)="editUpazilaInformationOnSubmit(upazilaInformationFrm)" #upazilaInformationFrm="ngForm">			
                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <div class="upazila_info_form_heading">
                                        <h4>Edit Upazila Information</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="upazila_info_inner_form"> 
                                <div class="row">
                                    <div class="col-md-3 col-lg-3">
                                        <div class="form-group">
                                            <label for="">Upazila</label>
                                            <input type="text" class="form-control" id="name" placeholder="Upazila" required  name="name" #name="ngModel" [(ngModel)]="UpazilaInformationData.name"/>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-lg-3">
                                        <div class="form-group">
                                            <label for="">Upazila in Bangla</label>
                                            <input type="text" class="form-control" id="name_bn" placeholder="Upazila in Bangla"  required  name="name_bn" #name_bn="ngModel" [(ngModel)]="UpazilaInformationData.name_bn"/>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-lg-3">
                                        <div class="form-group">
                                            <label for="">District</label>
                                            <select class="form-control" id="district_id" required  name="district_id" #name="ngModel" [(ngModel)]="UpazilaInformationData.district_id">
                                                <option value="">Select District</option>
                                                <option [value]="district.id" *ngFor="let district of district_list; index as i" >{{ district.name }}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-3 col-lg-3">
                                        <div class="form-group">
                                            <label for="status">Status</label>
                                            <select class="form-control" id="status" required  name="status" #status="ngModel" [(ngModel)]="UpazilaInformationData.status" >
                                                <option [value]="0">{{ 0 | statusLabel }}</option>
                                                <option [value]="1" >{{ 1 | statusLabel }}</option>
                                            </select>
                                        </div>
                                    </div>
                                     
                                    <div class="col col-md-12">
                                        <div class="submit_sec">
                                            <button type="submit" class="btn submit_button">Update</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>