<div class="row">
    <div class="col-md-12 section-inner p-5">
        <app-spinner [loading]="isLoading"></app-spinner>
        




        <div class="table_list_sec">
            <div class="table_list_sec_heading clearfix">
                <div class="d-flex personal_info_form_heading">
                    <h4 class="flex-fill">Permission</h4>
                    <div class="flex-fill">
                        <div class="input-group  float-right">
                            <input type="text" class="form-control" id="name" placeholder="Permission Name" required
                                name="name" #name="ngModel" [(ngModel)]="PermissionData.name" />
                            <div class="input-group-append btn-group">
                                <button type="button" (click)="submitPermission()"
                                    class="btn btn-success  text-capitalize float-right">{{submitBtnText}}</button>
                                    <button type="button" (click)="clearPermission()" *ngIf="PermissionData.name"
                                    class="btn btn-danger  text-capitalize float-right">Cancel</button>
                            </div>
                            <!-- <a [routerLink]="['create']" class="btn btn-light text-success text-capitalize float-right">Create New</a> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-body d-flex">
                <table class="table table-bordered  table-hover">
                    <thead class="thead-gray">
                        <tr class="text-capitalize text-center ">
                            <th scope="col">sl</th>
                            <th scope="col">Permission Name</th>
                            <th scope="col">Guard name</th>
                            <th class="action-btn" colspan="3" scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="" *ngFor="let item of items; index as i">
                            <td scope="row" class="text-center">{{(pagination.from+i)}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.guard_name}}</td>
                            <td class="action_btn_list">
                                <!-- <a class="link_action" [routerLink]="['view', item.id]">View</a> -->
                                <a class="link_action" (click)="viewPermission(item)" data-toggle="modal" data-target="#permissionViewModal" >View</a>
                            </td>
                            <td class="action_btn_list">
                                <!-- <a class="link_action" [routerLink]="['edit', item.id]">Edit</a> -->
                                <a class="link_action" (click)="editPermission(item.id,item.name)">Edit</a>
                            </td>
                            <td class="action_btn_list">
                                <a class="link_action delete" (click)="deletePermission(item.id)">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot *ngIf="pagination.last_page > 1">
                        <tr>
                            <td scope="col" colspan="10">
                                <app-pagination [pagination]="pagination" (selectPage)="getPageDataFn($event)">
                                </app-pagination>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

              
  <!-- Modal -->
  <div class="modal fade" id="permissionViewModal" tabindex="-1" role="dialog" aria-labelledby="permissionViewModalTitle" aria-hidden="true">
    <div *ngIf="PermissionViewData" class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Permission Name: {{PermissionViewData.name}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body table_list_sec">
            <div *ngIf="PermissionViewData.roles.length < 1" class="border border-danger text-danger p-2 mb-2">There is no role added for this permission</div>
            <table *ngIf="PermissionViewData.roles.length > 0" class="table table-bordered  table-hover">
                <thead class="thead-gray">
                    <tr>
                        <th colspan="5">Role List <span class="badge badge-success">{{PermissionViewData.roles.length}}</span></th>
                    </tr>
                    <tr class="text-capitalize text-center ">
                        <th scope="col">sl</th>
                        <th scope="col">Role Name</th>
                        <th scope="col">Guard Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="" *ngFor="let item of PermissionViewData.roles; index as i">
                        <td scope="row" class="text-center">{{(1+i)}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.guard_name}}</td>
                    </tr>
                </tbody>
            </table>

            <div *ngIf="PermissionViewData.users.length < 1" class="border border-danger text-danger p-2 mb-2">There is no user added for this permission</div>
            <table *ngIf="PermissionViewData.users.length > 0" class="table table-bordered  table-hover">
                <thead class="thead-gray">
                    <tr>
                        <th colspan="5">User List <span class="badge badge-success">{{PermissionViewData.users.length}}</span></th>
                    </tr>
                    <tr class="text-capitalize text-center ">
                        <th scope="col">sl</th>
                        <th scope="col">User Name</th>
                        <th scope="col">Guard Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="" *ngFor="let item of PermissionViewData.users; index as i">
                        <td scope="row" class="text-center">{{(1+i)}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.guard_name}}</td>
                    </tr>
                </tbody>
            </table>
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


    </div>
</div>