#wrapper {
    display: flex;
  }
  
  /*********** main sec  *************/
  #wrapper #content-wrapper {
    width: 100%;
    overflow-x: hidden;
  }
  #wrapper #content-wrapper #content {
    flex: 1 0 auto;
  }
  
  .sidebar .nav-item .nav-link .img-profile,
  .topbar .nav-item .nav-link .img-profile {
    height: 2rem;
    width: 2rem;
  }
  