<!-- Page Wrapper -->
 <div id="wrapper">

    <!-- Sidebar -->
    <app-side-bar></app-side-bar>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <app-header></app-header>
        <!-- End of Topbar -->
		    <app-breadcrumb></app-breadcrumb>
        <!-- Begin Page Content -->
        <router-outlet></router-outlet>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
     <app-footer></app-footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>