<section class="district_information_sec">
    <div class="district_information_inner">  
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-12">
                    <div class="district_info_form">
                        <form (ngSubmit)="createDistrictInformationOnSubmit(districtInformationFrm)" #districtInformationFrm="ngForm">			
                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <div class="district_info_form_heading">
                                        <h4>Create New District Information</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="district_info_inner_form"> 
                                <div class="row">
                                    <div class="col-md-3 col-lg-3">
                                        <div class="form-group">
                                            <label for="">District</label>
                                            <input type="text" class="form-control" id="name" placeholder="District" required  name="name" #name="ngModel" [(ngModel)]="DistrictInformationData.name"/>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-lg-3">
                                        <div class="form-group">
                                            <label for="">District in Bangla</label>
                                            <input type="text" class="form-control" id="name_bn" placeholder="District in Bangla"  required  name="name_bn" #name_bn="ngModel" [(ngModel)]="DistrictInformationData.name_bn"/>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-lg-3">
                                        <div class="form-group">
                                            <label for="">Division</label>
                                            <select class="form-control" id="division_id" required  name="division_id" #name="ngModel" [(ngModel)]="DistrictInformationData.division_id">
                                                <option value="">Select Division</option>
                                                <option [value]="division.id" *ngFor="let division of division_list; index as i" >{{ division.name }}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-3 col-lg-3">
                                        <div class="form-group">
                                            <label for="status">Status</label>
                                            <select class="form-control" id="status" required  name="status" #status="ngModel" [(ngModel)]="DistrictInformationData.status" >
                                                <option [value]="0">{{ 0 | statusLabel }}</option>
                                                <option [value]="1" >{{ 1 | statusLabel }}</option>
                                            </select>
                                        </div>
                                    </div>
                                     
                                    <div class="col col-md-12">
                                        <div class="submit_sec">
                                            <button type="submit" class="btn submit_button">Create</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>