<section class="salary_information_sec">
    <div class="salary_information_inner">  
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-12">
                    <div class="salary_info_form">
                        <form (ngSubmit)="editSalaryInformationOnSubmit(salaryInformationFrm)" #salaryInformationFrm="ngForm">			
                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <div class="salary_info_form_heading">
                                        <h4>Edit Salary Grade Information</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="salary_info_inner_form"> 
                                <div class="row">
                                    <div class="col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <label for="">Salary Grade</label>
                                            <input type="text" class="form-control" id="name" placeholder="Salary Grade" required  name="name" #name="ngModel" [(ngModel)]="SalaryInformationData.name"/>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <label for="">Salary Grade in Bangla</label>
                                            <input type="text" class="form-control" id="name_bn" placeholder="Salary Grade in Bangla"  required  name="name_bn" #name_bn="ngModel" [(ngModel)]="SalaryInformationData.name_bn"/>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <label for="status">Status</label>
                                            <select type="text" class="form-control" id="status" placeholder="Status"  required  name="status" #status="ngModel" [(ngModel)]="SalaryInformationData.status" >
                                                <option [value]="0">{{ 0 | statusLabel }}</option>
                                                <option [value]="1" >{{ 1 | statusLabel }}</option>
                                            </select>
                                        </div>
                                    </div>
                                     
                                    <div class="col col-md-12">
                                        <div class="submit_sec">
                                            <button type="submit" class="btn submit_button">Update</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>