/* You can add global styles to this file, and also import other style files */
.error {
    color: #ec1c24;
    margin: 0;
}
.error-msg {
    margin: 10px 0;
    display: flex;
}
.toast-container.toast-top-right {
    top: 75px;
}



/* Material CSS */

.mat-form-field {
    display: block !important;
    width: 100%;
    border: 1px solid #ddd;
    color: #000;
}
.mat-form-field-appearance-legacy .mat-form-field-subscript-wrapper {
    display: none;
}
.mat-form-field-appearance-legacy .mat-form-field-underline {
    display: none;
}


.mat-form-field-label-wrapper {
    position: absolute;
    left: 0;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    margin: 0;
    padding: 0;
    color: #495057;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.mat-form-field-appearance-legacy .mat-form-field-label {
    color: #495057;
    transform: unset;
    top: 0;
    display: flex;
    align-items: center;
    margin: 0;
    height: 100%;
    padding: .375rem .75rem;
    line-height: 35px;
}
.mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0 !important;
    width: 100%;
    margin: 0 !important;
    display: flex;
    line-height: normal;
    border: 0;
}
.mat-form-field .mat-input-element.mat-datepicker-input{
    cursor: pointer;
}
.mat-form-field .mat-input-element {
    margin: 0;
    width: 100%;
    height: 45px;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding: 0;
}

.mat-icon-button {
    height: 45px;
    width: 45px;
    border: 0;
    border-radius: 0;
    border-left: 1px solid #ced4da;
    color: #495057;
}
.mat-icon-button:focus {
    outline: 0;
}
.mat-icon-button.mat-datepicker-toggle-active {
    outline: 0;
    background: #00964c;
    color: #fff;
}
.mat-datepicker-popup .mat-datepicker-content {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
    color: #009245;
}

.mat-datepicker-popup .mat-calendar-body-label {
    color: rgb(0 150 76);
}
.mat-datepicker-popup .mat-datepicker-toggle, 
.mat-datepicker-popup .mat-datepicker-content .mat-calendar-next-button, 
.mat-datepicker-popup .mat-datepicker-content .mat-calendar-previous-button {
    color: #009245;
    border: 0;
}
.mat-datepicker-popup .mat-calendar-table-header {
    color: rgb(0 146 69);
}
.mat-datepicker-popup .mat-calendar-body-cell-content, 
.mat-datepicker-popup .mat-date-range-input-separator {
    color: #009245;
    border-color: transparent;
}
.mat-datepicker-popup .mat-calendar-body-selected {
    background-color: #00964c;
    color: #ffffff;
}

.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field-appearance-legacy.mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label {
    display: none;
}


section .mat-select-panel {
    background: #009245;
}