<section class="posting_type_information_sec">
    <div class="posting_type_information_inner">  
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-12">
                    <div class="posting_type_info_form">
                        <form (ngSubmit)="createPostingTypeInformationOnSubmit(posting_typeInformationFrm)" #posting_typeInformationFrm="ngForm">			
                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <div class="posting_type_info_form_heading">
                                        <h4>Create New Posting Type Information</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="posting_type_info_inner_form"> 
                                <div class="row">
                                    <div class="col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <label for="">Posting Type</label>
                                            <input type="text" class="form-control" id="name" placeholder="Posting Type" required  name="name" #name="ngModel" [(ngModel)]="PostingTypeInformationData.name"/>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <label for="">Posting Type in Bangla</label>
                                            <input type="text" class="form-control" id="name_bn" placeholder="Posting Type in Bangla"  required  name="name_bn" #name_bn="ngModel" [(ngModel)]="PostingTypeInformationData.name_bn"/>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <label for="status">Status</label>
                                            <select type="text" class="form-control" id="status" placeholder="Status"  required  name="status" #status="ngModel" [(ngModel)]="PostingTypeInformationData.status" >
                                                <option [value]="0">{{ 0 | statusLabel }}</option>
                                                <option [value]="1" >{{ 1 | statusLabel }}</option>
                                            </select>
                                        </div>
                                    </div>
                                     
                                    <div class="col col-md-12">
                                        <div class="submit_sec">
                                            <button type="submit" class="btn submit_button">Create</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>