<footer class="sticky-footer">
    <div class="container my-auto">
      <div class="copyright text-center my-auto">
        <span>&copy;DSS 2020. Design & Developed by SIMEC System Ltd.</span>
      </div>
    </div>
  </footer>