<section class="role_sec">
    <div class="role_inner">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-12">
                    <app-spinner [loading]="isLoading"></app-spinner>
                    <div class="role_form">
                        <form (ngSubmit)="updateRoleOnSubmit(roleFrm)" #roleFrm="ngForm">
                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <div class="d-flex role_form_heading">
                                        <h4 class="flex-fill">Update Role</h4>
                                        <div class="flex-fill">
                                            <div class="btn-group float-right">
                                                <a class="btn btn-sm btn-outline-light " [routerLink]="['/security-management/role/']">Back</a>
                                        </div>
                                        </div>
                                    </div>   
                                </div>
                            </div>
                            <div class="role_inner_form">
                                <div class="form-row align-items-center">
                                    <div class="col">
                                        <input type="text" class="form-control" id="name" placeholder="Role Name"
                                            required name="name" #name="ngModel" [(ngModel)]="RoleData.name" />
                                    </div>
                                    <div class="col">
                                        <button type="submit" class="btn submit_button">Update</button>                                        
                                    </div>
                                </div>

                                <div class="row my-5">
                                    <div class="col-md-12">
                                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link active text-success" id="permissions-tab"
                                                    data-toggle="tab" href="#permissions" role="tab"
                                                    aria-controls="permissions" aria-selected="true">Add Permissions 
                                                    <span class="badge badge-secondary">{{RoleData.permissions.length}}</span>
                                                </a>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link text-success" id="users-tab" data-toggle="tab"
                                                    href="#users" role="tab" aria-controls="users"
                                                    aria-selected="false">Add Users</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content" id="myTabContent">
                                            <div class="tab-pane fade show active p-2 border border-top-0" id="permissions" role="tabpanel"
                                                aria-labelledby="home-tab">

                                                <div class="form-check form-check-inline  border border-success rounded p-2 m-2" 
                                                    *ngFor="let item of items; index as i" [ngClass]="{'bg-success text-white' : (isChecked(item.name))}">
                                                    <input class="form-check-input" type="checkbox" (change)="selectPermission($event,item.name)"
                                                        value="{{item.name}}" id="checkbox_{{item.id}}" [checked]="isChecked(item.name)">
                                                    <label class="form-check-label" [ngClass]="{'text-white' : (isChecked(item.name))}" for="checkbox_{{item.id}}">
                                                        {{item.name}}
                                                    </label>
                                                </div>

                                                <div class="mt-3" *ngIf="pagination.last_page > 1">

                                                    <app-pagination [pagination]="pagination"
                                                        (selectPage)="getPermissionDataFn($event)">
                                                    </app-pagination>

                                                </div>
                                            </div>
                                            <div class="tab-pane fade  p-2 border border-top-0" id="users" role="tabpanel" aria-labelledby="users-tab">
                                                Underconstruction
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>