<section class="personal_information_sec">
    <div class="personal_information_inner">  
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-12">
                    <div class="personal_info_form">
                        <form (ngSubmit)="editDocumentTypeOnSubmit(documentTypeFrm)" #documentTypeFrm="ngForm">			
                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <div class="personal_info_form_heading">
                                        <h4>Create New Document Type</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="personal_info_inner_form"> 
                                <div class="row">
                                    <div class="col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label for="document_type">Document Type</label>
                                            <input type="text" class="form-control" id="document_type" placeholder="Document Type" required  name="document_type" #document_type="ngModel" [(ngModel)]="documentTypeData.document_type"/>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label for="document_type_bn">Document Type (Bangla)</label>
                                            <input type="text" class="form-control" id="document_type_bn" placeholder="BN Name of Document Type"  name="document_type_bn" #document_type_bn="ngModel" [(ngModel)]="documentTypeData.document_type_bn"/>
                                        </div>
                                    </div>
                                     
                                    <div class="col col-md-12">
                                        <div class="submit_sec">
                                            <button type="submit" class="btn submit_button">Create</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>