<div class="row">
    <div class="col-md-12 section-inner p-5">
      <div class="employee_entry_form_heading clearfix">
          <h4 class="float-left">Employee</h4>
          <a [routerLink]="['/profile-information/employee/create']" class="btn btn-light text-success text-capitalize float-right">Create New</a>
      </div>
      <div class="section-body">
        <table class="table table-bordered"> 
          <thead>
            <tr>
              <th scope="col">Profile ID</th>
              <th scope="col">Photo</th>
              <th scope="col">Name</th>
              <th scope="col">Date of Birth</th>
              <th scope="col">Gender</th>
              <th scope="col">Father's Name</th>
              <th scope="col">Mothers Name</th>
              <th scope="col">Status</th>
              <th scope="col">Action</th>

            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="lang === 'en'">
              <tr *ngFor="let item of items; index as i">
                <th scope="row">{{item?.id}}</th>
                <td>{{item?.photo}}</td>
                <td>{{item?.name}}</td> 
                <td>{{item?.date_of_birth}}</td> 
                <td>{{item?.gender_id}}</td> 
                <td>{{item?.fathers_name}}</td> 
                <td>{{item?.mothers_name}}</td> 
                <td>{{item?.status | statusLabel}}</td>
                <td class="action-btn text-center">
                    <a class="link_action"
                        [routerLink]="['/profile-information/employee', item.id]">View</a> &nbsp;
                    <a class="link_action"
                        [routerLink]="['/profile-information/employee/edit', item.id]">Edit</a> &nbsp;
                    <a class="link_action delete"
                        (click)="deleteEmployee(item.id)">Delete</a>
                </td>  
              </tr>
            </ng-container>
            <ng-container *ngIf="lang === 'bn'">
              <tr *ngFor="let item of items; index as i">
                <th scope="row">{{item.id}}</th>
                <td>{{item.photo}}</td>
                <td>{{item.name_bn}}</td> 
                <td>{{item.date_of_birth}}</td> 
                <td>{{item.gender_id}}</td> 
                <td>{{item.fathers_name_bn}}</td> 
                <td>{{item.mothers_name_bn}}</td> 
                <td>{{item.status | statusLabel}}</td>    
                <td class="action-btn text-center">
                    <a class="btn btn-success text-capitalize"
                        [routerLink]="['/profile-information/employee', item.id]">View</a> &nbsp;
                    <a class="btn btn-success text-capitalize"
                        [routerLink]="['/profile-information/employee/edit', item.id]">Edit</a> &nbsp;
                    <a class="btn btn-danger text-capitalize"
                        (click)="deleteEmployee(item.id)">Delete</a>
                </td>
              </tr>
            </ng-container>
          </tbody>
          <tfoot *ngIf="pagination.last_page > 1">
              <tr>
                  <td scope="col" colspan="10">
                      <app-pagination  [pagination]="pagination" (selectPage)="getPageDataFn($event)"></app-pagination>
                  </td>
              </tr>
          </tfoot>
        </table>
     </div>
    </div>
  </div>