.action-btn {
    width: 250px;
}
.employee_entry_form_heading{
    background-color: #00964C;
    color: white;
    padding: 10px 30px;
    font-size: 25px;
  }
  .section-body table th, .section-body table td {
    text-align: center;
}
.link_action {
  text-transform: capitalize;
  color: #00964c;
  display: inline-block;
  padding: 0.75rem;
  cursor: pointer;
}
.link_action.delete {
  color: #db1f26;
}
.link_action:last-child {
  border: none;
}